{% extends "base.html" %} 
{% load staticfiles %}
{% block content %}
<script src='{% static "js/validation.js" %}'></script>
<div class="container">
<div id="msg"></div>
	<div style="display: flex;">
		<div class="card">
			<div>
				<div class="cardheader">Total Orders</div>

				<div class="cardContent">{{ orders_count }}</div>

				<button class="cardFooter" style="margin-top: 1%;">
				</button>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="cardheader">Confirmed Orders</div>

				<div class="cardContent">{{ confirmed_order_count }}</div>

				<button class="cardFooter" style="margin-top: 1%;">
				</button>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="cardheader">Pending Orders</div>

				<div class="cardContent">{{ pending_order_count }}</div>

				<button class="cardFooter" style="margin-top: 1%;">
				</button>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="cardheader">Concelled Orders</div>

				<div class="cardContent">{{ cancelled_order_count }}</div>

				<button class="cardFooter" style="margin-top: 1%;">
				</button>
			</div>
		</div>
	</div>
	<div style="margin-top: 20px; background: #fff;">
		<table style="width: 100%; border: 1px solid #D1D4D7; border-collapse: collapse;">
			<tr style="height: 50px; background: #D1D4D7; border-collapse: collapse;">
				<th><input type="checkbox" id ="chckHead"></th>
				<th>Order Id</th>
				<th>Customer Name</th>
				<th>Mobile</th>
				<th>Status</th>
				<th>Order Total</th>
				<th>Deposite Collected</th>
				<th>Deposite returned</th>
			</tr>
			{% for order in order_list %}
			<tr style="height: 50px; border: 1px solid #D1D4D7; background: #FFF; text-align:center; border-collapse: collapse;">
				<td><input type="checkbox" class="chcktbl" name="{{ order.id }}" value="{{ order.id }}"></td>
				<td><a href="{% url 'order_detail' order.id %}">#ss{{ order.id }}</a></td>
				<td>{{ order.address.name }}</td>
				<td>{{ order.user.mobile }}</td>
				<td>{% if order.status == 'P' %}Pending{% elif order.status == 'C' %}Confirmed{% elif order.status == 'S' %}Shipped{% elif order.status == 'D' %}Delivered{% elif order.status == 'X' %}Cancelled{% endif %}</td>
				<td>{{ order.total|floatformat:"0" }}</td>
				<td>{{ order.deposite_collect }}</td>
				<td>{{ order.deposite_return }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}



