{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#4DBD74;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
</style>
	<div class="container">	
	{% if strMessage %}
		<div {% if status %} class="sAlert" {% else %} class="alert"{% endif %} >
			<span class="closebtn"
				onclick="this.parentElement.style.display='none';">&times;</span> 
				{{strMessage }}
		</div>
	{% endif %}
	
	{% if request.session.isUserLogin %} 
	<div class="md-stepper-horizontal green">
		<div class="md-step {% if ecom_steps.step == 1 %}active{% endif %}">
			<div class="md-step-circle"><span>1</span></div>
			<div class="md-step-title">Profile</div>
			<div class="md-step-bar-left"></div>
			<div class="md-step-bar-right"></div>
		</div>
		<div class="md-step {% if ecom_steps.step == 2 %}active{% endif %}">
			<div class="md-step-circle"><span>2</span></div>
			<div class="md-step-title">Set Default Setting</div>
			<div class="md-step-bar-left"></div>
			<div class="md-step-bar-right"></div>
		</div>
		<div class="md-step {% if ecom_steps.step == 3 %}active{% endif %}">
			<div class="md-step-circle"><span>3</span></div>
			<div class="md-step-title">Site Key</div>
			<div class="md-step-bar-left"></div>
			<div class="md-step-bar-right"></div>
		</div>
		<div class="md-step {% if ecom_steps.step == 4 %}active{% endif %}">
			<div class="md-step-circle"><span>4</span></div>
			<div class="md-step-title">Go Live</div>
			<div class="md-step-bar-left"></div>
			<div class="md-step-bar-right"></div>
		</div>
	</div><br/>
	
	<div style="width:225px;padding: 0.75rem 1.25rem; background:#fff; height: 220px;border-radius: 0.25rem;  border: 1px solid #d1d4d7; float:left;">
		<h4 style="margin:5px;display:flex;">Profile</h4><hr/>
		{% if address %}
			Address:<br/><hr/>
			{{ address.name }},<br/>
			{{ address.address }},{{ address.area }},<br/>
			{{ address.city }},{{ address.state }}-{{ address.pin_zip }},{{ address.country }}
			<br/><br/>
			Mobile No.:<br/><hr/>
			{{ address.mobile }}<br/><br/>
			<a href="{% url 'm_profile'  address.id %}">Edit Address</a>
		{% else %}
			<div style="margin: 20% 23%;">
				Address not added<br/><br/> 
				<a href="{% url 'm_profile' 0 %}" class="saveButton" style="text-decoration:none;">Add Address</a>
			</div>
		{% endif %}
	</div>
	
	<div style="margin-left:20px;width:225px;padding: 0.75rem 1.25rem; height: 220px;background:#fff; border-radius: 0.25rem;  border: 1px solid #d1d4d7; float:left;">
		<h4 style="margin:5px;display:flex;">Set Default Setting</h4><hr/>
		{% if allComplete %}
			<div id="displaySetMsg" class="displayKey">
				<span style="margin-top:20px;word-wrap: break-word;">You have intailize all setting with default values.</span>
			</div>
		{% else %}
			<div id="setDefaultForm">
				<form style="border: 0px solid #A4A4A4; width: auto; padding: 0; margin: 31% 13%;">
					<input class="saveButton" type="button" onclick="importDefault()" type="submit" value="Set Default" />
				</form>
			</div>
			<div id="displaySetMsg" class="displayKey" style="display: none;"></div>
		{% endif %}
	</div>
	
	<div style="margin-left:20px;width:225px;padding: 0.75rem 1.25rem; height: 220px;background:#fff; border-radius: 0.25rem;  border: 1px solid #d1d4d7; float:left;">
		<h4 style="margin:5px;display:flex;">Site Key</h4><hr/>
		{% if apiKey.key %}
			<div id="displayKey" class="displayKey">
				<span style="margin-top:20px;word-wrap: break-word;">Your API Key: {{ apiKey.key }}</span>
			</div>
		{% else %}
			<div id="generateKeyForm">
				<form style="border: 0px solid #A4A4A4; width: auto; padding: 0; margin: 31% 13%;">
					{% csrf_token %}
					<input class="saveButton" type="button" onclick="generateKey()" value="Click to Generate API Key" />
				</form>
			</div>
			<div id="displayKey" class="displayKey" style="display: none;"></div>
		{% endif %}
	</div>

	<div style="margin-left:20px;width:250px;padding: 0.75rem 1.25rem; height: 220px;margin-bottom: 0;background:#fff; border-radius: 0.25rem;  border: 1px solid #d1d4d7;float:left;">
		<h4 style="margin:5px;display:flex;">Required Setting to Go Live</h4><hr/>
		{% if ecom_steps.step != 5 and EcomSetting.category_setting == 0 and EcomSetting.product_setting == 0 or ecom_steps.step != 5 and EcomSetting.category_setting == 1 and EcomSetting.product_setting == 0 or ecom_steps.step != 5 and EcomSetting.category_setting == 0 and EcomSetting.product_setting == 1 or ecom_steps.step != 5 and EcomSetting.category_setting == 1 and EcomSetting.product_setting == 0 or ecom_steps.step != 5 and EcomSetting.category_setting == 1 and EcomSetting.product_setting == 1 %}
			<div style="margin:5px;display:flex;"> 
				<div style="width: 80%;"> 
					Address
				</div>
				<div style="width: 20%;"> 
					<img style="width: 24px;height: 24px;" alt="status" src="{% if EcomSetting.user_address %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
				</div>
			</div>
			<div  style="margin:5px;display:flex;"> 
				<div style="width: 80%;"> 
					<div class="tooltip">Category  
						<span class="tooltiptext">Add category to publish site</span>
					</div>
				</div>
				<div  style="width: 20%;"> 
					<img style="width: 24px;height: 24px;" alt="status" src="{% if EcomSetting.category_setting %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
				</div>
			</div>
			<div  style="margin:5px;display:flex;"> 
				<div  style="width: 80%;">
					Product
				</div>
				<div  style="width: 20%;">
					<img style="width: 24px;height: 24px;" alt="status" src="{% if EcomSetting.product_setting %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
				</div>
			</div>
			<div style="margin:5px;display:flex;"> 
				<div id="myBtn" style="width: 80%;"> 
					Site Configuration  
				</div>
				<div  style="width: 20%;"> 
					<img style="width: 24px;height: 24px;" alt="status" src="{% if allComplete %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
				</div>
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<span class="close">&times;</span>
						<ol>
							<li style="width: -moz-available;">
								<div style="display:flex;margin:5px;">
									<div style="width: 80%;">Home Page Setting</div>
									<div style="width: 20%;">
										<img style="width: 18px;height: 18px;" alt="status" src="{% if EcomSettingOptions.0 %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
									</div>
								</div>
							</li><br/>
							<li style="width: -moz-available;">
								<div style="display:flex;margin:5px;">
									<div style="width: 80%;">Product Listing Page Setting</div>
									<div style="width: 20%;">
										<img style="width: 18px;height: 18px;" alt="status" src="{% if EcomSettingOptions.1 %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
									</div>
								</div>
							</li><br/>
							<li style="width: -moz-available;">
								<div style="display:flex;margin:5px;">
									<div style="width: 80%;">Product Details Page Setting</div>
									<div style="width: 20%;">
										<img style="width: 18px;height: 18px;" alt="status" src="{% if EcomSettingOptions.2 %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
									</div>
								</div>
							</li><br/>
							<li style="width: -moz-available;">
								<div style="display:flex;margin:5px;">
									<div style="width: 80%;">Cart Page Setting</div>
									<div style="width: 20%;">
										<img style="width: 18px;height: 18px;" alt="status" src="{% if EcomSettingOptions.3 %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
									</div>
								</div>
							</li><br/>
							<li style="width: -moz-available;">
								<div style="display:flex;margin:5px;">
									<div style="width: 80%;">Checkout Page Setting</div>
									<div style="width: 20%;">
										<img style="width: 18px;height: 18px;" alt="status" src="{% if EcomSettingOptions.4 %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
									</div>
								</div>
							</li><br/>
							<li style="width: -moz-available;">
								<div style="display:flex;margin:5px;">
									<div style="width: 80%;">Thank You Page Setting</div>
									<div style="width: 20%;">
										<img style="width: 18px;height: 18px;" alt="status" src="{% if EcomSettingOptions.5 %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
									</div>
							  	</div>
							</li><br/>
						</ol>
					</div>
				</div>
			</div>
			<div style="margin:5px;display:flex;"> 
				<div style="width: 80%;"> 
					Site Key 
				</div>
				<div style="width: 20%;"> 
					<img style="width: 24px;height: 24px;" alt="status" src="{% if EcomSetting.user_key %} {% static 'images/success.png' %} {% else %} {% static 'images/pending.png' %}{% endif %}"/>
				</div>
			</div>
			{% if ecom_steps.step == 4 and EcomSetting.category_setting == 1 and EcomSetting.product_setting == 1 %}
				
					<form style="border: 0px solid #A4A4A4; width: auto; padding: 0;">
						{% csrf_token %}
						<input class="saveButton" type="button" onclick="goLive()" value="Go live" style="width: 250px;"/>
					</form>
				</div>
				<div id="displayLiveMsg" class="displayKey" style="display: none;"></div>
			{% endif %}
		{% elif ecom_steps.step == 5 %}
			<div id="displayLiveMsg" class="displayKey">
				<span style="margin-top:20px;word-wrap: break-word;">Your account is been activated.</span>
			</div>
		{% endif %}
	</div>				

	{% else %}
		<span>Not a member yet? Welcome on board - <a href="{% url 'signup' %}">Sign up now!</a></span>
		<p>OR</p>
		<p>Already have an account? <a href="{% url 'login' %}">LOG IN</a>.</p>
	{% endif %}	
	</div>   
{% endblock %}
{% block custom_scripts %}
	<script src="{% static 'js/validation.js' %}"></script>
	<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock %}



