{% extends "base.html" %}
{% block content %}

	<div class="container">
	<div style="display:flex;margin:40px;">
		<div style="width:60%;background: #fff; border: 1px solid #D1D4D7;margin:20px;">
			<div style="padding:10px;">
					 Address
			</div>
			<hr class="hrStyle"/>
			<div>
			<form method="POST" name="Submit">
			{% csrf_token %}
				<div style="padding:10px;">
						<div style="padding:10px;"><b>Address type:</b></div> 
						<input type="radio" name="addressType" id = "home" onclick="checkSatofficeOpen(this.form)" value="0" {% if address.type == '0' %} checked {% else %} checked {% endif %}> Home 
						<input type="radio" name="addressType" id = "office" onclick="checkSatofficeOpen(this.form)" value="1" {% if address.type == '1' %} checked {% endif %}> Office <br/>
						<div {% if address.type == '1' %} style="display: block;" {% else %} style="display: none;" {% endif %} id = "satOpen">
							<input type="checkbox" name="deliver" {% if address.deliver_sat == True %} checked {% endif %}>Office open on Saturday 
						</div>
				</div>	 
				<div style="padding: 30px;">
					<br><label><b>Full Name</b></label> <br>
					<input type="text" placeholder="Enter Full Name" name="ba_full_name" value="{{ address.name }}" required> 
					<br><label><b>Address</b></label><br>
					<textarea  "textarea" placeholder="Enter Address" name="ba_address" required>{{ address.address }}</textarea>
					<br><label><b>Area</b></label> <br>
					<input type="text" placeholder="Enter Area" name="ba_area" value="{{ address.area }}" required>
					<br><label><b>City</b></label> <br>
					<input type="text" placeholder="Enter City" name="ba_city" value="{{ address.city }}" required> 
					<br><label><b>State</b></label> <br>
					<select name="ba_state">
						<option value="0">Select State</option>
						{% for sl in allStateList %}
							<option value="{{sl.code}}" {% if address.state == sl.code %} selected {% endif %}>{{sl.name}}</option>
						{% endfor %}
					</select>
					<br><label><b>Pin/Zip Code</b></label> <br>
					<input type="number" placeholder="Enter Pin/Zip Code" name="ba_pinzip" value="{{ address.pin_zip }}" required>
					<br><label><b>Country</b></label> <br>
					<input type="text" placeholder="Enter Country" name="ba_country" value="{{ address.country }}" required>
					<br><label><b>Mobile</b></label> <br>
					<input type="number" placeholder="Enter Mobile" name="ba_mobile" value="{{ address.mobile }}" maxlength="10" >
					<br><br>
					<button class="buttonCoupon" type="submit" name="checkout" value="Submit">Save</button>
				</div>
			</form>	
			</div>
		</div>
		<div class="" style="width:40%;background: #fff; border: 1px solid #D1D4D7;height:fit-content;margin:20px;padding:20px;">
			Add profile Details
		</div>
	</div>
    </div>  
{% endblock %}	

