

a {
	color: #000;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #ac0404;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ac0404;
	text-shadow:#ac0404 1px 1px 2px;
	margin-bottom: 5px;
	
}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline1 {
		width:   900px;
		height: 1000px;
		overflow: hidden;
		margin: 10px auto;
		position: relative;
		background: url('../images/dot.gif') left 45px repeat-x;
	}
		#dates1 {
			width:   900px;
			height: 60px;
			overflow: hidden;
		}
			#dates1 li {
				list-style: none;
				float: left;
				width: 200px;
				height: 50px;
				font-size: 18px;
				text-align: center;
				background: url('../images/biggerdot.png') center bottom no-repeat;
			}
				#dates1 a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates1 .selected {
			        font-size: 18px;
				}
		
		#issues1 {
			width:   900px;
			height: 800px;
			overflow: hidden;
		}	
			#issues1 li {
				width:  900px;
				height: 350px;
				list-style: none;
				float: left;
			}
				#issues1 li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues1 li img {
					float: left;
					margin: 10px 30px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues1 li h1 {
					color: #ac0404;
					font-size: 48px;
					margin: 20px 0;
					text-shadow: #000 1px 1px 2px;
				}
				#issues1 li p {
					font-size: 14px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
					color:#000;
			padding-left:100px;
					
					/*border:thin solid; 
					width:800px;
					text-shadow: #000 1px 1px 2px;*/
				}
		
		#grad_left1,
		#grad_right1 {
			width: 100px;
			height: 900px;
			position: absolute;
			top: 0;
		}
			#grad_left1 {
		        left: 0;
		        background: url('../images/grad_left.png') repeat-y;
				/*background-color:#00a4ae;*/
			}
			#grad_right1 {
		        right: 0;
		        background: url('../images/grad_right.png') repeat-y;
			}
		
		#next1,
		#prev1 {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next1:hover,
			#prev1:hover {
				background-position: 0 -76px;
			}
			#next1 {
				right: 0;
				background-image: url('../images/next.png');
			}
			#prev1 {
				left: 0;
				background-image: url('../images/prev.png');
			}
				#next1.disabled,
				#prev1.disabled {
					opacity: 0.2;
				}