{% load site_filters %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sri Shringarr</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/animsition/css/animsition.min.css' %}"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
<!--===============================================================================================-->
</head>

<style>
.pointer {cursor: pointer;}
</style>

<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header" style="height:120px;background:white;">
			<div class="topbar">
			<div class="topbar-social">
					<a href="https://www.facebook.com/srishringarr/" target="_blank" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
					<a href="https://www.instagram.com/srishringarr/" target="_blank" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
					<!-- <a href="https://plus.google.com/u/1/113103807414319162517" target="_blank" class="fs-18 color1 p-r-20 fa social_googleplus"></a> -->
					<a href="https://twitter.com/SriShringarr" target="_blank" class="fs-18 color1 p-r-20 fa social_twitter"></a>
					<a href="https://in.pinterest.com/srishringarr/?eq=sri&etslf=5839" target="_blank" class="fs-18 color1 p-r-20 fa social_pinterest"></a>
				</div>

				<!-- <span class="topbar-child1">
					Free shipping for standard order over ₹100
				</span> -->

				<div class="topbar-child2">
						{% if isSearchBar == True %}  
							<form style="display:flex;" method="post" enctype="multipart/form-data" >
								{%csrf_token%}
								<div class="topbar effect1 w-size9">
									<input type="text" class="topbar  s-text7 bg6 w-full" name="searchtxt" placeholder="Search.." value="{% if stxt %}{{stxt}}{% endif %}">
									<span class="effect1-line"></span>
								</div>
								 <input type="submit" class = "search_btn" name="searchbtn" value="Search">
							</form>							
						{% endif %}
				</div> 
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				
				{% if isLogo == True %}  
					<a href="{%url 'site_home' %}" class="logo" >
					<img  src="{% if home_seting_option.logo_image %} {%static ''%}{{home_seting_option.logo_image}}{% else %} static 'images/dummy_logo.png' {% endif%}" alt="Avatar" />
					</a>
				{% endif %}

				<!-- Menu -->
				<div class="wrap_menu">					
					<nav class="menu">
				
				{% if isMenu == True %}  
					<div style="display:flex;">
						{% if home_seting_option.manu_type == 0 %}
							<ul class="main_menu">
							{% for data in home_seting_option.menu_options|getList %}
								{% if data == '1' %}
								<li><a href="{% url 'site_home' %}">Home</a></li>	
								{% elif data == '2' %} 
									{% for mc in 1|getMainCats %}
										<li>
										{% if mc.id|getSubLevel == None %}
											<a href ="{% url 'catprodlist' mc.id %}?page=1">{{mc.name}}</a>
										{% else %}
											<a href ="{% url 'subcategory' mc.id %}?page=1">{{mc.name}}</a>
										{% endif %}
											{% if mc.id|getSubLevel %}
												<ul class="sub_menu">
													{% for sc in mc.id|getSubLevel %}
															<li><a href ="{% url 'catprodlist' sc.id %}?page=1">{{sc.name}}</a>
															{% if sc.id|getSubLevel %}
																<ul class="sub_menu">
																	{% for lc in sc.id|getSubLevel %}
																		<li><a href ="{% url 'catprodlist' lc.id %}?page=1">{{lc.name}}</a></li>
									 								{% endfor %}
																</ul>
															{% endif %}
														</li>
													{% endfor %}
												</ul>
											{% endif %}											
										</li>
									{% endfor %}	
							<!-- 	{% elif data == '3' %} 
					  				<li><a href="{% url 'site_home' %}">Brands</a></li>
					  			{% elif data == '4' %}
					  				<li><a href="{% url 'catprodlist' 0 %}">Products</a></li>
					  		 -->{% elif data == '5' %}
					  					<!-- <li><a href="{% url 'site_home' %}">Offers</a></li> -->
				  				{% elif data == '6' %}
				  				<!------------------rahul----------- 29-07-2019 ------------------------>
				  				<li><a href="{% url 'contact_us' %}">Contact Us</a></li>
				  						{% if request.session.site_isUserLogin %}
					  						
					  					{% else %}
											<li><a href="{% url 'site_signup' %}">Signup</a></li>
											<li><a href="{% url 'site_login' %}">Login</a></li>
					  					{% endif %}	
					  			<!------------rahul-------- 29-07-2019 ---------------------------->
					  			{% endif %}
							{% endfor %}
							</ul>
						{% else %} 
							Menu Not Available
						{% endif%}
					</div>
				{% endif %} 
			</nav>
			
					
			</div>

				<!-- Header Icon -->
				<div class="header-icons">
				<nav>
										<!---------Rahul----------------------------- 30-07-2019 ------------------------------>
						{% for data in home_seting_option.menu_options|getList %}
							{% if data == '7' %}
							
								{% if request.session.site_isUserLogin %}
								<br>
								<ul class="main_menu">				
								<li style="text-align: center;">
								<a class="dropbtn">
								<img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
								</a>

								<ul class="sub_menu" >
								<li><a href="{% url 'user_profile' %}">Profile</a></li>
								<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
								<li><a href="">Orders</a></li>
								<li><a href="{% url 'site_logout' %}">Logout</a></li>
								</ul>
								<p>Hi, {{user_name}}</p>
								</li>
								</ul>
								{% endif %}		
							
							{% endif %}		
						{% endfor %}	
<br>
<!-- 				<ul class="main_menu">				
					<li style="text-align: center;">
						<a class="dropbtn">
							<img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
						</a>
						{% for data in home_seting_option.menu_options|getList %}
							{% if data == '7' %}
							<ul class="sub_menu" >
								{% if request.session.site_isUserLogin %}
 -->									<!-- <li>&nbsp;&nbsp;&nbsp;Hi, {{user_name}}</li> -->
<!-- 									<li><a href="{% url 'site_logout' %}">Logout</a></li>
									<li><a href="{% url 'user_profile' %}">Profile</a></li>
									<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
									<li><a href="">Order</a></li>
								{% else %}
									<li><a href="{% url 'site_login' %}">Login</a></li>
									<li><a href="{% url 'site_signup' %}">Signup</a></li>
								{% endif %}		
							</ul>
							{% endif %}		
						{% endfor %}	
						<br>
						<p>Hi, {{user_name}}</p>
								
					</li>
				</ul>
 -->				</nav>
					
				<!-- 	<a href="#" class="header-wrapicon1 dis-block">
						<img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
					</a> -->

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						{% if isCart == True %}  
							<a href="{% url 'cart' %}" class="cart_anchor">
								<img src="{% if home_seting_option.cart_image %} {%static ''%}{{home_seting_option.cart_image}}{% else %} static 'images/icons/icon-header-02.png' {% endif %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
								<span id="cartCount" class="header-icons-noti">{{ cart_count }}</span>
							</a>
						{% endif %}
					
						
						{% if cart_count > 0 %}
							<!-- Header cart noti -->
							<div id="cart_box" class="header-cart header-dropdown">
								<ul class="header-cart-wrapitem">
									{% for cart_data in cart_list %}
										{% if cart_data.is_rent %} 
											<li class="header-cart-item">
												<div class="header-cart-item-img">
													<img src="{% static '' %}{{ cart_data.product.product_image }}" alt="IMG">
												</div>
			
												<div class="header-cart-item-txt">
													<a href="#" class="header-cart-item-name">
														{{ cart_data.product.name }} (Rent)
													</a>
			
													<span class="header-cart-item-info">
													<strong><span style="font-size:12px;">Rs. {{ cart_data.product.final_product_price|floatformat:"0" }}</span></strong> 
														&nbsp;&nbsp;&nbsp;<span style="color:#A4A4A4;"><strike> {{ cart_data.product.mrp|floatformat:"0" }} </strike></span> 
														<span style="font-size:12px;color:green;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs. {{ cart_data.product.product_saving_price|floatformat:"0" }} Off</span> 
														
													</span>
												</div>
											</li>
										{% else %}
											<li class="header-cart-item">
												<div class="header-cart-item-img">
													<img src="{% static '' %}{{ cart_data.product.product_image }}" alt="IMG">
												</div>
			
												<div class="header-cart-item-txt">
													<a href="#" class="header-cart-item-name">
														{{ cart_data.product.name }}
													</a>
			
													<span class="header-cart-item-info">
													<strong><span style="font-size:12px;">Rs. {{ cart_data.product.final_product_price|floatformat:"0" }}</span></strong> 
														&nbsp;&nbsp;&nbsp;<span style="color:#A4A4A4;"><strike> {{ cart_data.product.mrp|floatformat:"0" }} </strike></span> 
														<span style="font-size:12px;color:green;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs. {{ cart_data.product.product_saving_price|floatformat:"0" }} Off</span> 
													</span>
												</div>
											</li>
										{% endif %}

									{% endfor%}
								</ul>
	
								<div class="header-cart-total">
									Total: Rs. {{ product_total }}
								</div>
	
								<div class="header-cart-buttons">
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="{%url 'cart' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											View Cart
										</a>
									</div>
	
									<div class="header-cart-wrapbtn">
										<!-- Button -->
										<a href="{%url 'checkout' %}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Check Out
										</a>
									</div>
								</div>
							
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<!-- <a href="index.html" class="logo-mobile">
				<img src="images/dummy_logo.png" alt="IMG-LOGO">
			</a> -->
			<a href="{%url 'site_home' %}" class="logo-mobile">
				<img src="{% if home_seting_option.logo_image %} {%static ''%}{{home_seting_option.logo_image}}{% else %} static 'images/dummy_logo.png' {% endif%}" alt="IMG-LOGO">
			</a>

			

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<nav>
						<ul class="main_menu">				
							<li>
								<a class="dropbtn">
									<img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
								</a>
								{% for data in home_seting_option.menu_options|getList %}
									{% if data == '7' %}
									<ul class="sub_menu" >
										{% if request.session.site_isUserLogin %}
											<li>&nbsp;&nbsp;&nbsp;Hi, {{user_name}}</li>
											<li><a href="{% url 'site_logout' %}">Logout</a></li>
											<li><a href="{% url 'user_profile' %}">Profile</a></li>
											<li><a href="{% url 'wishlist' %}">Wishlist</a></li>
											<li><a href="">Order</a></li>
										{% else %}
											<li><a href="{% url 'site_login' %}">Login</a></li>
											<li><a href="{% url 'site_signup' %}">Signup</a></li>
										{% endif %}		
									</ul>
									{% endif %}		
								{% endfor %}			
							</li>
						</ul>
					</nav>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<!-- <img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON"> -->
						{% if isCart == True %}  
							<a href="{% url 'cart' %}">
								<img src="{% if home_seting_option.cart_image %} {%static ''%}{{home_seting_option.cart_image}}{% else %} static 'images/icons/icon-header-02.png' {% endif %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
								<span id="cartCount" class="header-icons-noti">{{ cart_count }}</span>
							</a>
						{% endif %}

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<!-- <img src="images/item-cart-01.jpg" alt="IMG"> -->
										<img src="{% static '' %}{{ cart_data.product.product_image }}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<!-- <img src="images/item-cart-02.jpg" alt="IMG"> -->
										<img src="{% static '' %}{{ cart_data.product.product_image }}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<!-- <img src="images/item-cart-03.jpg" alt="IMG"> -->
										<img src="{% static '' %}{{ cart_data.product.product_image }}" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					{% if isMenu == True %}  
						{% if home_seting_option.manu_type == 0 %}
							{% for data in home_seting_option.menu_options|getList %}
								{% if data == '1' %}
									<li class="item-menu-mobile">
										<a href="{% url 'site_home' %}">Home</a>
									</li>
								{% elif data == '2' %}

									{% for mc in 1|getMainCats %}
										<li class="item-menu-mobile">
											{% if mc.id|getSubLevel == None %}
												<a href ="{% url 'catprodlist' mc.id %}?page=1">{{mc.name}}</a>
											{% else %}
												<a href ="{% url 'subcategory' mc.id %}?page=1">{{mc.name}}</a>
											{% endif %}
												<ul class="sub-menu">
													{% for sc in mc.id|getSubLevel %}
														<li>
															<a href ="{% url 'catprodlist' sc.id %}?page=1">{{sc.name}}</a>
															{% if sc.id|getSubLevel %}
																<ul class="sub_menu">
																	{% for lc in sc.id|getSubLevel %}
																		<li>
																			<a href ="{% url 'catprodlist' lc.id %}?page=1">{{lc.name}}</a>
																		</li>
									 								{% endfor %}
																</ul>
															{% endif %}
														</li>
													{% endfor %}
												</ul>
											<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
										</li>
									{% endfor %}

								{% elif data == '5' %}
  								{% elif data == '6' %}

								<li class="item-menu-mobile">
									<a href="{% url 'contact_us' %}">Contact Us</a>
								</li>

								{% endif %}
					
							{% endfor %}
						{% endif %}
					{% endif %}
				</ul>
			</nav>
		</div>
	</header>
	
	{% block content %}{% endblock %}
	
	{% if isFooter == True %} 
	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<!-- <p class="s-text7 w-size27">
						Any questions? Let us know in store at<br>
						{{ address.name }},<br>{{ address.address }},{{ address.area }},{{ address.city }},{{ address.state }},
						<br>Pin Code : {{ address.pin_zip }}<br>
						Mobile No : {{ address.mobile }}
					</p> -->

					<p class="s-text7 w-size27">
						Any questions? Let us know in store at<br>
						Sri Shringarr Fashion Studio,<br>Shyamkamal Building B/1, Office No.104,<br>1 st Floor, Agarwal Market, Opposite Railway Station,<br>Vile Parle (East), Mumbai 400 057
						<!-- <br>Pin Code : 400 057 --><br>
						Mobile No : 075066 28663/ 093242 43011
					</p>

					<div class="flex-m p-t-30">
						<a href="https://www.facebook.com/srishringarr/" target="_blank" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="https://www.instagram.com/srishringarr/" target="_blank" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<!-- <a href="https://plus.google.com/u/1/113103807414319162517" target="_blank" class="fs-18 color1 p-r-20 fa social_googleplus"></a> -->
						<a href="https://twitter.com/SriShringarr" target="_blank" class="fs-18 color1 p-r-20 fa social_twitter"></a>
						<a href="https://in.pinterest.com/srishringarr/?eq=sri&etslf=5839" target="_blank" class="fs-18 color1 p-r-20 fa social_pinterest"></a>
					</div>
				</div>
			</div>
			{% if cat_list_p %}
				<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
					<h4 class="s-text12 p-b-30">
						Categories
					</h4>
					<ul>
						{% for category in cat_list_p %}
							<li class="p-b-9">
								<a href="{% url 'subcategory' category.id %}" class="s-text7">
									{{ category.name }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Quick Links
				</h4>

				<ul>
					<!-- <li class="p-b-9">
						<a href="{% url 'empty_search' %}" class="s-text7">
							Search
						</a>
					</li> -->

					<li class="p-b-9">
						<a href="{% url 'user_profile' %}" class="s-text7">
							Profile
						</a>
					</li>
	
					<li class="p-b-9">
						<a href="{% url 'my_orders' %}" class="s-text7">
							Orders 
						</a>
					</li>

					<li class="p-b-9">
						<a href="{% url 'wishlist' %}" class="s-text7">
							Wishlist 
						</a>
					</li>


				</ul>
			</div>
<!-- 
			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>
				<ul>
 -->					<!-- <li class="p-b-9">
						<a href="{% url 'track_order' %}" class="s-text7">
							Track Order
						</a>
					</li> -->
<!-- 
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Shipping
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Cancellation
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>
 -->					<!-- <li class="p-b-9">
						<a href="#" class="s-text7">
							Blog
						</a>
					</li> -->
<!-- 				</ul>
			</div>
 -->
			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<!---------------------------- Rahul 30-07-2019 --------------------------------->
				<iframe width="100%" height="250px" src="https://www.youtube.com/embed/KGZVaCSe_mw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h7>Take a virtual tour of Sri Shringarr Fashion Studio</h7>
			</div>

			<!-- <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Notify Me
				</h4>

				<form>
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>

					<div class="w-size2 p-t-20">
						
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4 pointer" style="background-color: #e6be6e;color: #444;">
							Notify
						</button>
					</div>

				</form>
			</div> -->
		</div>

		<div class="t-center p-l-15 p-r-15">
			
			<div class="t-center s-text8 p-t-20">
			
        {% for data in home_seting_option.footer_options|getList %}
        	{% if data == '1' %} <a style="text-decoration: none;" href="{% url 'terms_of_use' %}">TERMS OF USE</a> &nbsp;{% elif data == '2' %} | &nbsp;<a style="text-decoration: none;" href="{% url 'privacy_policy' %}"> PRIVACY POLICY  </a>&nbsp; {% elif data == '3' %} | &nbsp;<a style="text-decoration: none;" href="{% url 'about_us' %}">ABOUT US </a>&nbsp; {% elif data == '4' %} | <a style="text-decoration: none;" href="{% url 'enquiry' %}">&nbsp;ENQUIRY</a>&nbsp; {% elif data == '6' %} | <a style="text-decoration: none;" href="{% url 'faqs' %}">&nbsp;FAQs</a>&nbsp;{% endif %}
	        {% if data == '8' %}
				<div style="text-align: center;font-size:15px;margin:10px 0px;">
		         	<a style="text-decoration: none;">
					Copyright © 2018 Sri Shringarr All Rights Reserved  </a><br/><br/>
		        </div>
	        {% endif %}
    	{% endfor %}
    	
				
			</div>
		</div>
	</footer>


	{% endif %}
	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div> 

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'css/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'css/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'css/vendor/bootstrap/js/popper.js' %}></script>
	<script type="text/javascript" src="{% static 'css/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'css/vendor/select2/select2.min.js' %}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'css/vendor/slick/slick.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'css/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'css/vendor/lightbox2/js/lightbox.min.js' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'css/vendor/sweetalert/sweetalert.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
	{% block custom_scripts %}{% endblock %}
</body>
</html>
