{% extends "basesite.html" %}
{% load staticfiles %}
{% block content %}
	<!-- Title Page -->
<!-- 	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(images/heading-pages-06.jpg);">
		<h2 class="l-text2 t-center">
			About
		</h2>
	</section> -->

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div >
				<div class="p-b-30" >
					<iframe width="100%" height="550px" src="https://www.youtube.com/embed/KGZVaCSe_mw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<!-- <div class="hov-img-zoom" style="height:200px;">
						<img src="{% static 'images/site/grid_images/img-6.jpg' %}" alt="IMG-ABOUT">
					</div> -->
				</div>

				<div class="p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						About Us
					</h3>

					<p class="p-b-28">
						Yosshita & Neha is a Sri Shringarr Fashion studio initiative. Sri Shringarr Fashion studio is the brain child of Rajani Poddar. Yosshita Poddar & Neha Kabra Bhandari are Fashion graduates from Symbiosis Institute of Design. Having worked with prestigious designers like Rahul Mishra, Priyadarshini Rao and Krishna Mehta, they soon began designing for their own clients, and today have a vast and loyal clientele.
					</p>
					<p class="p-b-28">
						The label Yosshita & Neha is a seamless confluence of inspiration, ethnicity and femininity. Each ensemble is designed to come alive on the wearer and compliment her feminine core. Our collections play around with different elements, to give rise to beautifully detailed and exquisitely cut fashion wear. The brand forte lies in creating enduring pieces representing the traditional Indian crafts in a distinct and creative way. The vibrant ethnic collections include stylish evening gown, beautiful blouses, stunning jewellery and lehengas for special events. The Pret wear collection includes a wide range of tunics, dresses, pants, skirts, scarves, jackets, crop tops, etc. Our USP lies in customization since well-fit clothes are always in fashion! We promise to offer exclusive pieces that you will cherish for the rest of your life.
					</p>
					<p class="p-b-28">
						We believe in the philosophy of adorning the femininity. Our pieces are engraved with state-of-art quality and awesome designs for that perfect female look. Most of the times what brings in customer delight are the accessories - the largest collection anyone can find under one roof. Bridal sets, Kundan, American Diamond, Antique and Vilandi sets. We also have Naths, Tikas, Borlas, Exclusive Hair Accessories, Bridal Dupattas, etc, head to toe, name the accessory and you have it. As jewellery is an accessory which is bought in tune with matching apparel, our collections have colour and design trends from the apparel sector. We offer a plethora of breathtaking jewellery so that you can deck yourself out to your heart's desire and really personalise your look.
					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
							Fashion is about establishing an image that consumers can adapt to their own individuality.
							And it's an image that can change, that can evolve. It's truly said that <strong>"God lies in Detail"</strong>. It's
							surprising how a small detail can change the entire look. I believe in making simple things
							beautiful.
						</p>

						<span class="s-text7">
							- <strong>Ms. Yosshita Poddar</strong>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}	

