{% extends "basesite.html" %}
{% load staticfiles %}
{% block content %}
<style>
.disc-list li{
    list-style-type: disc;
}
</style>
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({% static 'images/site/grid_images/img-1.jpg' %});">
	<h2 class="l-text2 t-center">
		FAQ's
	</h2>
</section>
<!-- <div class="m-l-60 m-t-60 m-r-60 m-b-60"> -->

 <div class="m-l-20 m-r-20 m-t-20 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_1_header" class="accordion-toggle collapsed" onClick = "openCollapse('1');" data-toggle="collapse" data-parent ="#accordion">
			1.	Why borrow from Sri Shringarr ? &nbsp;
			 <span style="float: right;">
			 	<span id="question_1_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_1" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>Renting is easy and economical means of keeping up with latest trends.</li>
				<li>Renting fine designer jewellery and outfits for weddings and special occasions is an exciting new concept.</li>
				<li>Sri Shringarr  realizes the value of having to buy expensive jewels and outfits just so it can be worn a few times on special occasions. 
					Then everyone we know has seen this same jewellery and outfit on us, over and over again.</li>
				<li>Sri Shringarr  gives you the privilege to choose from dozens of gorgeous designs at a very reasonable price.</li>
				<li>Sri Shringarr  makes sure that you never have to be seen in the same outfit/jewellery twice. This way you get to wear a variety of designs without spending a fortune and feeling guilty</li>
				<li>You can also save a whole lot of wardrobe space and the trouble of maintaining the outfit/jewellery.</li>				
			</ul>
		  </div>		 
	   </div>	
 </div>
 
 <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_2_header" class="accordion-toggle collapsed" onClick = "openCollapse('2');" data-toggle="collapse" data-parent ="#accordion">
			2.	How do I know that Sri Shringarr  outfit/jewellery is clean and do not look used? &nbsp;
			 <span style="float: right;">
			 	<span id="question_2_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_2" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>Hygiene is one of our top priorities. After every rental, each piece is professionally inspected, sanitized and cleaned so that you can feel confident about its sparkle and brilliance. </li>
				<li>Each of our outfits is dry cleaned and ironed each time it is hired.</li>
				<li>We pride our pieces and discard them as soon as they start looking even slightly worn. </li>
				<li>Any garment/jewellery which reaches you will either be brand new or will look like new. Nobody will ever be able to tell it's rented.</li>
			</ul>
		  </div>		 
	   </div>	
 </div>
 
  <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_3_header" class="accordion-toggle collapsed" onClick = "openCollapse('3');" data-toggle="collapse" data-parent ="#accordion">
			3.	How do I select an outfit for a particular date and book it? &nbsp;
			 <span style="float: right;">
			 	<span id="question_3_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_3" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>It's simple. On our website, go through our fabulous collection of outfits and jewellery.</li>
				<li>Decide what you like the best.</li>
				<li>Call us on 09324243011/09321864422 and fix up an appointment.</li>
				<li>Visit our studio in Vile Parle (E).</li>
				<li>Try on the desired outfit and jewellery.</li>
				<li>Finalize it and book it on spot.</li>
				<li>If you are planning to only rent out jewellery we request you the get the outfit along so that we can help you stylize better.</li>
			</ul>
		  </div>		 
	   </div>	
 </div>
 
  <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_4_header" class="accordion-toggle collapsed" onClick = "openCollapse('4');" data-toggle="collapse" data-parent ="#accordion">
				4.	Can I change the date of renting a particular garment once it has been booked in advance? What if I want to cancel? &nbsp;
			 <span style="float: right;">
			 	<span id="question_4_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_4" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>Yes, you can call us to change the date of your booking upto 60 days before the date you had originally booked for. Any change later than that attracts a cancellation fee of 25% of the rental amount.</li>
				<li>If you cancel the booking completely, the rental paid by you is non-refundable. If you change your mind about the item you have selected, you can let us know upto 2 days after you make the booking. Any change after that would attract a transfer fee of Rs.1500.</li>
			</ul>
		  </div>		 
	   </div>	
 </div>
 
  <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_5_header" class="accordion-toggle collapsed" onClick = "openCollapse('5');" data-toggle="collapse" data-parent ="#accordion">
				5.	What if the outfit requires alterations?
			 <span style="float: right;">
			 	<span id="question_5_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_5" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>Alterations are possible within the limits of the measurements.</li>
				<li>Once we have your measurements, we will do those alterations for you, and you can fix a date to come and try the outfit approx. a week before your actual booking date to avoid last moment hassles. In case the outfit has a back to back booking and is not available a week before, you will have to come and try it at the time you collect the outfit. </li>
				<li>We will keep your outfit ready on the fixed date. You can try it again and confirm the fit. If any more changes need to be made, they would be made within an hour.</li>
				<li>Then you can come and collect it on the booked date, it will be ready waiting for you!!!</li>
				</ul>
		  </div>		 
	   </div>	
 </div>
 
 <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_6_header" class="accordion-toggle collapsed" onClick = "openCollapse('6');" data-toggle="collapse" data-parent ="#accordion">
				6.	How long do I get to keep it?
			 <span style="float: right;">
			 	<span id="question_6_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_6" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>Our standard rental period is for two nights.</li>
				<li>You can collect your outfit/accessories between 11am to 7 pm a night before your rental date.</li>
				<li>Then you have to return the outfit/accessories between 11am to 7 pm the day after the rental date. For instance, if a garment is booked for 22nd of March, you can collect it between 11am to 7 pm on the 21st of March, and return it on the 23rd of March between 11am to 7 pm. </li>
				<li>We are shut on Sundays, and any scheduled pickup/return (collection/return) will happen on Saturday/Monday respectively.</li>
				<li>If you wish to rent an outfit/accessory for a longer period, there are extra charges are applicable.</li>
				</ul>
		  </div>		 
	   </div>	
 </div>
 
 <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_7_header" class="accordion-toggle collapsed" onClick = "openCollapse('7');" data-toggle="collapse" data-parent ="#accordion">
				7.	What happens if I damage or misplace the outfit/accessory by mistake?
			 <span style="float: right;">
			 	<span id="question_7_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_7" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>We understand that small accidents can sometimes happen unintentionally. We can take care of repairable damages such as minor removable stains, minor tears at the seam, stuck zippers and dislodged links in jewellery. However, you are liable to pay for any damages over and above this. </li>
				<li>It's up to Sri Shringarr  to decide the amount of damage and deduct it from the security deposit.</li>
				<li>However if any piece goes missing you are liable to pay the MRP of the product.</li>
			</ul>
		  </div>		 
	   </div>	
 </div>
 
  <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_8_header" class="accordion-toggle collapsed" onClick = "openCollapse('8');" data-toggle="collapse" data-parent ="#accordion">
				8.	Is there a security deposit to be paid each time I book?
			 <span style="float: right;">
			 	<span id="question_8_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_8" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>As all our pieces are extremely precious, we take a fully refundable security deposit at the time of rental, which is returned to you when we receive the pieces back. However, in the event of loss or damage beyond normal wear or tear to a garment/accessory, we will either keep the full security amount or deduct a damage fee as decided by us. </li>
				<li>Please note that we reserve the rights to cancel a booking if you do not pay the security deposit at the time of rental. Under such circumstances, the rental amount you may have paid will not be returned to you.</li>
			</ul>
		  </div>		 
	   </div>	
 </div>
 
   <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_9_header" class="accordion-toggle collapsed" onClick = "openCollapse('9');" data-toggle="collapse" data-parent ="#accordion">
				9.	For saris, lehengas can I use my own saris blouses and petticoats?
			 <span style="float: right;">
			 	<span id="question_9_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_9" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>Absolutely, that's the best way to ensure a perfect fit. Customers are encouraged to match the saris with blouses from their existing collection.</li>
			</ul>
		  </div>		 
	   </div>	
 </div>
 
    <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_10_header" class="accordion-toggle collapsed" onClick = "openCollapse('10');" data-toggle="collapse" data-parent ="#accordion">
				10.	What if I want to buy an outfit instead of renting it?
			 <span style="float: right;">
			 	<span id="question_10_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_10" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>If you fall in love with a particular outfit and are interested in buying it, just give us a call and tell us the Product Code of the garment/jewellery and we will try and work out a special deal for you. </li>
				<li>If possible we can make a whole new piece for u.</li>
			</ul>
		  </div>		 
	   </div>	
 </div>
 
     <div class="m-l-20 m-r-20 m-t-10 m-b-10">								
	   <div class="bg6 bo9 p-l-10 p-r-10 p-t-10 p-b-10">	
			 <span style="cursor: pointer;color:#424242 !important;" id="question_11_header" class="accordion-toggle collapsed" onClick = "openCollapse('11');" data-toggle="collapse" data-parent ="#accordion">
				11.	What if I don't like anything from the present collection?
			 <span style="float: right;">
			 	<span id="question_11_icon" class="glyphicon glyphicon-plus"></span>
			 </span>
			 </span>		 
	   </div>
	   <div id="answer_11" class="panel-collapse collapse bo1 p-l-20 p-t-20">										
		  <div class="lefttxt  t-left">
			<ul class="disc-list p-l-20 p-b-20">
				<li>Well you don't have to worry about that either. We have an in house designer. Here is the catch you can get a design customized according to your style.</li>
				<li>After you are done wearing your outfit you can return it back to us and get 50% of the total price back</li>
				<li>For more details check 'Earn Money Through Sri Shringarr'</li>
			</ul>
		  </div>		 
	   </div>	
 </div>
 
 <div class="m-t-20">
 	<p>
 		<strong>Hope we've cleared all your doubts. Now simply select what you like from a wide range of stunning apparel and accessories, borrow it for that special occasion and return it or simply buy it if you love it!</strong> 
 	</p>
 </div>
 
<!-- </div>
 -->
{% endblock %}	
{% block custom_scripts %}
	<script src="{% static 'js/site.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script>
	 function openCollapse(section_id){     	
		   	var main_header = "#question"+section_id+"_header";
		   	var main_question_icon = "#question_"+section_id+"_icon";
		   	var answer = "#answer_"+section_id;
		   	
		   	if ($(answer).hasClass('collapse')){
		   		$(main_question_icon).fadeIn("slow").addClass('glyphicon-minus');
		   			$(main_question_icon).removeClass(' glyphicon-plus ');     
		   			$(answer).removeClass("collapse").fadeIn("slow").addClass("collapsed");
		   	}else if ($(answer).hasClass('collapsed')){        		
		   			$(main_question_icon).addClass(' glyphicon-plus ');
		   			$(main_question_icon).removeClass(' glyphicon-minus');
		   			$(answer).removeClass("collapsed").addClass("collapse");
		   	}
		   }
	</script>
{% endblock %}

