{% extends "basesite.html" %}
{% load staticfiles %} 
{% block content %} 
	<section class="bgwhite">
		<div class="container">
			<div class="bo9 row">
				<div class="col-sm-6 col-md-8 col-lg-12 p-l-40 p-r-40 p-t-30 p-b-38">
					<h5 class="m-text20 t-center">
						Order Id: #0000{{ orderData.id }}<br/>
						Order Date: {{ orderData.created_at|date }}
					</h5>
				</div>
			</div>
		</div>
	</section>
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
					<div class="bo9 col-sm-6 col-md-8 col-lg-5 p-l-40 p-r-40 p-t-30 p-b-38">
						<h5 class="m-text20">
							Order Summary
						</h5>
						{% for orderItem in orderItems %}
							<table class="table-shopping-cart" style="min-width: 60%;">
								<tbody>
									<tr class="table-row" style="border: 0;">
										<td class="column-3">
											<div class="cart-img-product b-rad-4 o-f-hidden">
												<img src="{% static '' %}{{orderItem.product.product_image}}" alt="IMG-PRODUCT">
											</div>
										</td>
										<td class="column-2">
											{{ orderItem.product.name }}<br/>
											Mrp : Rs. <strike> {{ orderItem.product.mrp|floatformat:"0" }} </strike><br/>
											Payable : Rs. {{ orderItem.product.final_product_price|floatformat:"0" }} x {{ orderItem.quantity }} = Rs. {% widthratio orderItem.product.final_product_price|floatformat:"0" 1 orderItem.quantity %}
											<div style="color: green;margin: 5px;">Saved Rs. {% widthratio orderItem.product.product_saving_price|floatformat:"0" 1 orderItem.quantity %}</div>
										</td>
									</tr>
								</tbody>
							</table>
						{% endfor %}
						<div class="flex-w flex-sb bo10 p-t-15 p-b-20">
							<span class="s-text18 w-size20 w-full-sm">
								Total Amount Payable:
							</span>
		
							<span class="m-text21 w-size19 w-full-sm">
								Rs. {{ orderData.total|floatformat:"0" }}
							</span>
						</div>
					</div>
				
				<div class="col-sm-6 col-md-8 col-lg-1 p-l-40 p-r-40 p-t-30 p-b-38">	
				</div>
					<div class="bo9 col-sm-6 col-md-4 col-lg-6 p-l-40 p-r-40 p-t-30 p-b-38">
						<h5 class="m-text20 p-b-24">
							Delivered to Address
						</h5>
						<span class="m-text18 w-size19 w-full-sm">
							{{ orderData.address.name }}, {{ orderData.address.address }},<br/> 
							{{ orderData.address.area }},<br/>
							{{ orderData.address.state }}, {{ orderData.address.city }} - {{ orderData.address.pin_zip }}
						</span>
					</div>
			</div>
		</div>
	</section>
{% endblock %}

