{% extends "basesite.html" %}
{% load site_filters %}
{% load staticfiles %} 
{% block content %} 
<form method="POST">
	{% csrf_token %}
	<!-- Title Page -->
<!-- 	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({% static 'images/site/grid_images/img-6.jpg' %});">
		<h2 class="l-text2 t-center">
			Women
		</h2>
		<p class="m-text13 t-center">
			New Arrivals Women Collection 2018
		</p>
	</section> -->
		<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<input type="hidden" name="catId" value="{{cat_id}}" />
						{% if list_setting.filter_by_category == True %}
							<h4 class="m-text15 p-b-7">
								Categories
							</h4>
							
							<ul class="p-b-25">
								{% for sc in sub_cats %}
									<li class="p-t-4">
										<input type="checkbox" value="{{sc.id}}" name="categoryOption" onclick="this.form.submit()" {{ sc.id|isValChecked:cat_filter }}/> {{sc.name}}
									</li>
								{% endfor %}
							</ul>
						{% endif %}

						<!-- {% if list_setting.filter_by_gender == True %}
							<h4 class="p-t-22 bo3 m-text15 p-b-7">
								By Gender
							</h4>
							
							<ul class="p-b-25">
								<li style="{% if prolist_seting_option %}{{ 'Women'|isValueSelected:prolist_seting_option.filter_gender }}{% endif %}">
									<input type="checkbox" name="genderOption" value="Women" onclick="this.form.submit()" {{ 'Women'|isValChecked:gender_filter }}/> Women
								</li>
								<li style="{% if prolist_seting_option %}{{ 'Men'|isValueSelected:prolist_seting_option.filter_gender }}{% endif %}">
									<input type="checkbox" name="genderOption" value="Men" onclick="this.form.submit()" {{ 'Men'|isValChecked:gender_filter }}/> Men
								</li>
								<li style="{% if prolist_seting_option %}{{ 'Men & Women'|isValueSelected:prolist_seting_option.filter_gender }}{% endif %}">
									<input type="checkbox" name="genderOption" value="Men & Women" onclick="this.form.submit()" {{ 'Men & Women'|isValChecked:gender_filter }}/> Men & Women
								</li>
								<li style="{% if prolist_seting_option %}{{ 'Baby'|isValueSelected:prolist_seting_option.filter_gender }}{% endif %}">
									<input type="checkbox" name="genderOption" value="Baby" onclick="this.form.submit()" {{ 'Baby'|isValChecked:gender_filter }}/> Baby
								</li>
								<li style="{% if prolist_seting_option %}{{ 'Baby Boys & Baby Girl'|isValueSelected:prolist_seting_option.filter_gender }}{% endif %}">
									<input type="checkbox" name="genderOption" value="Baby Boys & Baby Girl" onclick="this.form.submit()" {{ 'Baby Boys & Baby Girl'|isValChecked:gender_filter }}/> Baby Boys & Baby Girl
								</li>
								<li style="{% if prolist_seting_option %}{{ 'Girls'|isValueSelected:prolist_seting_option.filter_gender }}{% endif %}">
									<input type="checkbox" name="genderOption" value="Girls" onclick="this.form.submit()" {{ 'Girls'|isValChecked:gender_filter }}/> Girls
								</li>
								<li style="{% if prolist_seting_option %}{{ 'Boys'|isValueSelected:prolist_seting_option.filter_gender }}{% endif %}">
									<input type="checkbox" name="genderOption" value="Boys" onclick="this.form.submit()" {{ 'Boys'|isValChecked:gender_filter }}/> Boys
								</li>
								<li style="{% if prolist_seting_option %}{{ 'Boys & Girl'|isValueSelected:prolist_seting_option.filter_gender }}{% endif %}">
									<input type="checkbox" name="genderOption" value="Boys & Girl" onclick="this.form.submit()" {{ 'Boys & Girl'|isValChecked:gender_filter }}/> Boys & Girl 
								</li>
							</ul>
						{% endif %} -->
						
						{% if list_setting.filter_by_price == True  %}
							<h4 class="p-t-22 bo3 m-text15 p-b-7">
								By Price
							</h4>
							
							<ul class="p-b-25">
								<li style="{% if prolist_seting_option %}{{ 1|isValueSelected:prolist_seting_option.filter_price }}{% endif %}">
									<input type="checkbox" name="priceOption" value="100-500" onclick="this.form.submit()" {{ '100-500'|isValChecked:price_filter }}/> Rs. 100-500
								</li>
								<li style="{% if prolist_seting_option %}{{ 2|isValueSelected:prolist_seting_option.filter_price }}{% endif %}">
									<input type="checkbox" name="priceOption" value="500-1000" onclick="this.form.submit()" {{ '500-1000'|isValChecked:price_filter }}/> Rs. 500-1000
								</li>
								<li style="{% if prolist_seting_option %}{{ 3|isValueSelected:prolist_seting_option.filter_price }}{% endif %}">
									<input type="checkbox" name="priceOption" value="1000-5000" onclick="this.form.submit()" {{ '1000-5000'|isValChecked:price_filter }}/> Rs. 1000-5000
								</li>
								<li style="{% if prolist_seting_option %}{{ 4|isValueSelected:prolist_seting_option.filter_price }}{% endif %}">
									<input type="checkbox" name="priceOption" value="5000-10000" onclick="this.form.submit()" {{ '5000-10000'|isValChecked:price_filter }}/> Rs. 5000-10000
								</li>
								<li style="{% if prolist_seting_option %}{{ 5|isValueSelected:prolist_seting_option.filter_price }}{% endif %}">
									<input type="checkbox" name="priceOption" value="10000-50000" onclick="this.form.submit()" {{ '10000-50000'|isValChecked:price_filter }}/> Rs. 10000-50000
								</li>
								<li style="{% if prolist_seting_option %}{{ 6|isValueSelected:prolist_seting_option.filter_price }}{% endif %}">
									<input type="checkbox" name="priceOption" value="0-50000" onclick="this.form.submit()" {{ '0-50000'|isValChecked:price_filter }}/> Rs. 50000+
								</li>
								<li style="{% if prolist_seting_option %}{{ 0|isValueSelected:prolist_seting_option.filter_price }}{% endif %}">
									<input type="checkbox" name="priceOption" value="0-0" onclick="this.form.submit()" {{ '0-0'|isValChecked:price_filter }}/> All
								</li>
							</ul>
						{% endif %}
						
						{% if list_setting.filter_by_discount == True  %}
							<h4 class="p-t-22 bo3 m-text15 p-b-7">
								By Discount (%)
							</h4>
							
							<ul class="p-b-25">
								<li style="{% if prolist_seting_option %}{{ 1|isValueSelected:prolist_seting_option.filter_discount }}{% endif %}">
									<input type="checkbox" name="discountOption" value="9" onclick="this.form.submit()" {{ 9|isValChecked:discount_filter }}/> Less than 10%
								</li>
								<li style="{% if prolist_seting_option %}{{ 2|isValueSelected:prolist_seting_option.filter_discount }}{% endif %}">
									<input type="checkbox" name="discountOption" value="10" onclick="this.form.submit()" {{ 10|isValChecked:discount_filter }}/> 10% or More
								</li>
								<li style="{% if prolist_seting_option %}{{ 3|isValueSelected:prolist_seting_option.filter_discount }}{% endif %}">
									<input type="checkbox" name="discountOption" value="20" onclick="this.form.submit()" {{ 20|isValChecked:discount_filter }}/> 20% or More
								</li>
								<li style="{% if prolist_seting_option %}{{ 4|isValueSelected:prolist_seting_option.filter_discount }}{% endif %}">
									<input type="checkbox" name="discountOption" value="30" onclick="this.form.submit()" {{ 30|isValChecked:discount_filter }}/> 30% or More
								</li>
								<li style="{% if prolist_seting_option %}{{ 5|isValueSelected:prolist_seting_option.filter_discount }}{% endif %}">
									<input type="checkbox" name="discountOption" value="40" onclick="this.form.submit()" {{ 40|isValChecked:discount_filter }}/> 40% or More
								</li>
								<li style="{% if prolist_seting_option %}{{ 6|isValueSelected:prolist_seting_option.filter_discount }}{% endif %}">
									<input type="checkbox" name="discountOption" value="50" onclick="this.form.submit()" {{ 50|isValChecked:discount_filter }}/> 50% or More
								</li>
								<li style="{% if prolist_seting_option %}{{ 0|isValueSelected:prolist_seting_option.filter_discount }}{% endif %}">
									<input type="checkbox" name="discountOption" value="0" onclick="this.form.submit()" {{ 0|isValChecked:discount_filter }}/> All
								</li>
							</ul>
						{% endif %}
						
						{% if list_setting.filter_by_colour == True  %}
							<h4 class="p-t-22 bo3 m-text15 p-b-7">
								By Color
							</h4>
							
							<ul class="p-b-25">
								{% for c in color %}
									<li class="p-t-4">
										<input type="checkbox" name="colorOption" value="{{c.id}}" onclick="this.form.submit()" {{ c.id|isValChecked:color_filter }}> 
										<label class="color-filter" style="background-color: {{c.code}}; display: inline-block; margin-bottom: 0;"></label> {{c.name}}
									</li>
								{% endfor %}
								<li style="{% if prolist_seting_option.filter_color == '0' %}display: block{% else %}display: none{% endif %}">
									<input type="checkbox" name="colorOption" value="0" onclick="this.form.submit()" {{ 0|isValChecked:color_filter }}> All
								</li>
							</ul>
						{% endif %}
						
						{% if list_setting.filter_by_brands == True  %}
							<h4 class="p-t-22 bo3 m-text15 p-b-7">
								By Brands
							</h4>
							
							<ul class="p-b-25">
								{% for b in brand %}
									<li class="p-t-4">
										<input type="checkbox" name="brandOption" value="{{b.brand}}" onclick="this.form.submit()" {{ b.brand|isValChecked:brand_filter }}>{{b.brand}}
									</li>
								{% endfor %}
								<li style="{% if prolist_seting_option.filter_brand == '0' %}display: block{% else %}display: none{% endif %}">
									<input type="checkbox" name="brandOption" value="0" onclick="this.form.submit()" {{ 0|isValChecked:brand_filter }}> All
								</li>
							</ul>
						{% endif %}
						
						{% if list_setting.filter_by_reviews == True  %}
							<h4 class="p-t-22 bo3 m-text15 p-b-7">
								By Size
							</h4>
							
							<ul class="p-b-25">
								<li style="{% if prolist_seting_option %}{{ 'XS'|isValueSelected:prolist_seting_option.filter_size }}{% endif %}">
									<input type="checkbox" name="sizeOption" value="XS" onclick="this.form.submit()" {{ 'XS'|isValChecked:size_filter }}/> XS
								</li>
								<li style="{% if prolist_seting_option %}{{ 'S'|isValueSelected:prolist_seting_option.filter_size }}{% endif %}">
									<input type="checkbox" name="sizeOption" value="S" onclick="this.form.submit()" {{ 'S'|isValChecked:size_filter }}/> S
								</li>
								<li style="{% if prolist_seting_option %}{{ 'M'|isValueSelected:prolist_seting_option.filter_size }}{% endif %}">
									<input type="checkbox" name="sizeOption" value="M" onclick="this.form.submit()" {{ 'M'|isValChecked:size_filter }}/> M
								</li>
								<li style="{% if prolist_seting_option %}{{ 'L'|isValueSelected:prolist_seting_option.filter_size }}{% endif %}">
									<input type="checkbox" name="sizeOption" value="L" onclick="this.form.submit()" {{ 'L'|isValChecked:size_filter }}/> L
								</li>
								<li style="{% if prolist_seting_option %}{{ 'XL'|isValueSelected:prolist_seting_option.filter_size }}{% endif %}">
									<input type="checkbox" name="sizeOption" value="XL" onclick="this.form.submit()" {{ 'XL'|isValChecked:size_filter }}/> XL
								</li>
								<li style="{% if prolist_seting_option %}{{ 'XXL'|isValueSelected:prolist_seting_option.filter_size }}{% endif %}">
									<input type="checkbox" name="sizeOption" value="XXL" onclick="this.form.submit()" {{ 'XXL'|isValChecked:size_filter }}/> XXL
								</li>
								<li style="{% if prolist_seting_option %}{{ 0|isValueSelected:prolist_seting_option.filter_size }}{% endif %}">
									<input type="checkbox" name="sizeOption" value="0" onclick="this.form.submit()" {{ 0|isValChecked:size_filter }}/> All
								</li>
							</ul>
						{% endif %}
						
						{% if list_setting.filter_by_availability == True  %}
							<h4 class="p-t-22 bo3 m-text15 p-b-7">
								By Size
							</h4>
							
							<ul class="p-b-25">
								<li style="{% if prolist_seting_option %}{{ 1|isValueSelected:prolist_seting_option.filter_stock }}{% endif %}">
									<input type="checkbox" name="stockOption" value="1" onclick="this.form.submit()" {{ 1|isValChecked:stock_filter }}/> In Stock
								</li>
								<li style="{% if prolist_seting_option %}{{ 2|isValueSelected:prolist_seting_option.filter_stock }}{% endif %}">
									<input type="checkbox" name="stockOption" value="2" onclick="this.form.submit()" {{ 2|isValChecked:stock_filter }}/> Out Stock
								</li>
								<li style="{% if prolist_seting_option %}{{ 0|isValueSelected:prolist_seting_option.filter_stock }}{% endif %}">
									<input type="checkbox" name="stockOption" value="0" onclick="this.form.submit()" {{ 0|isValChecked:stock_filter }}/> All
								</li>
							</ul>
						{% endif %}
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">
				<!-- 		<div class="flex-w">
							<div class="size19 bo4 m-b-12">
								<select class="selection-2 sizefull s-text7 p-l-15 p-r-15" name="sorting" style="border: 0;">
									<option>Default Sorting</option>
									<option>Popularity</option>
									<option>Price: low to high</option>
									<option>Price: high to low</option>
								</select>
							</div>
						</div> -->

						<span class="s-text8 p-t-5 p-b-5">
							Showing {{ current_page}} of {{product_count}} results
						</span>
					</div>

					<!-- Product -->
					<div class="row">
					{% if product_list %}
						{% for product in current_page %}
							{% if product.quantity > 0 %}
								<div class="col-lg-3" style="padding:3px;">
									<div style="border: 1px solid #eae8e8;">
										<!-- Block2 -->
										<div class="block2">
									 	<div class="block2-img wrap-pic-w of-hidden pos-relative">
											<img src="{% static 'images/catalog/products/main/' %}{{ product.product_image }}" alt="IMG-PRODUCT">
												<div class="block2-overlay trans-0-4">
													{% if wishlist %}
														{% if product.id|isAddToWishlist:wishlist %}
														<button type="button" class="block2-btn-towishlist hov-pointer trans-0-4" onclick="addToWishlist('{{ product.id }}')">
															<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
															<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
														</button>
														{% else %}
															<button class="block2-btn-addwishlist hov-pointer trans-0-4" onclick="addToWishlist('{{ product.id }}')">
																<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
																<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
															</button>
														{% endif %}
													{% else %}
														<button class="block2-btn-addwishlist hov-pointer trans-0-4" onclick="addToWishlist('{{ product.id }}')">
															<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
															<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
														</button>
													{% endif %}
													<div class="block2-btn-details w-size1 trans-0-4">
														<a href="{% url 'productdetail' product.slug %}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
															Details
														</a>
													</div>
													<div class="block2-btn-addcart w-size1 trans-0-4">
													<form style="margin-bottom:0;" enctype="multipart/form-data">
														{%csrf_token%}
														<input class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button"  value="Add To Cart"  id = "add_to_cart" name="add_to_cart" onclick="addToCart('{{ product.id }}','0');"/>
													</form>	
													</div>
												</div> 				
										</div>
										 

										<div class="block2-txt p-t-20 p-l-10 p-b-10">
											<a href="{% url 'productdetail' product.slug %}" class="block2-name dis-block s-text3 p-b-5" maxlength="50">
												{{ product.name }}
											</a>

											<span class="block2-price m-text6 p-r-5">
												Rs. {{ product.mrp|floatformat:"0" }}
											</span>
										</div>
									</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}
						{% else %}
							<p>No Products.</p>
						{% endif %}
					</div>

					<!-- Pagination 
					<div class="pagination flex-m flex-w p-t-26">
						<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
						<a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
					</div> -->
					
					<div class="pagination flex-m flex-w p-t-26">
					    {% if current_page.has_previous %}
				            <a href="?page=1" class="item-pagination flex-c-m trans-0-4">1</a>
				        {% endif %}
				
				        <span class="current">
				        	<a href="?page={{ current_page.paginator.num_pages }}" class="item-pagination flex-c-m trans-0-4 active-pagination">{{ current_page.number }}</a>
				        </span>
				
				        {% if current_page.has_next %}
				            <a href="?page={{ current_page.next_page_number }}" class="item-pagination flex-c-m trans-0-4">2</a>
				        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
{% endblock %}
{% block custom_scripts %}
	<script src='{% static "js/site.js" %}'></script>
{% endblock %}