{% extends "basesite.html" %} 
{% load site_filters %}
{% load staticfiles %} 
{% block content %}
 <!-- <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" type="text/css"> -->
 <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
 <link href="{% static 'css/drift-basic.css' %}" rel="stylesheet" type="text/css">
<style>
	.ui-datepicker-prev span,
	.ui-datepicker-next span {
		background-image: none !important;
	}

	.ui-datepicker-prev:before,
	.ui-datepicker-next:before {
	  font-family: FontAwesome;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  display: flex;
	  font-weight: normal;
	  align-items: center;
	  justify-content: center;
	}

	.ui-datepicker-prev:before {
	  content: "\f100";
	}

	.ui-datepicker-next:before {
	  content: "\f101";
}
	figure.zoom {
 	 background-position: 50% 50%;
 	 position: relative;
 	 /*width: 500px;*/
  	 overflow: hidden;
  	 cursor: zoom-in;
	}
	
	figure.zoom img:hover {
  		opacity: 0;
	}
	
	figure.zoom img {
  		transition: opacity .5s;
  		display: block;
  		width: 100%;
	}

	.prodGalleryImg {
		width: 80px;
	    height: 80px;
	    border: 1px solid #424242;
	    margin:5px;
	}
	
	.g-background {
		height: 5px;
	    position: relative;
	    background: #f0f0f0;
	    margin-top: 7px;
	    margin-left: 7px;
	    border-radius: 100px;
	    width: 80%;
	}
	.ratio-background {
		left: 0;
	    position: absolute;
	    height: 5px;
	    transform: scaleX(1);
	    transform-origin: left center;
	    transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1) 0.3s, -webkit-transform 0.4s cubic-bezier(0, 0, 0.3, 1) 0.3s;
	    border-radius: 100px;
	    width:100%;
	    background-color: #388e3c;
	}

	.zoom:hover {
		transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
		overflow: scroll;
	}

	.pointer {cursor: pointer;}
	.dot {
	  height: 72px;
	  width: 70px;
	  background-color: #E2C88A;
	  border-radius: 50%;
	  display: inline-block;
	 /* border: 1px solid black;*/
	}
</style>

			            
<form method="post" style="margin-bottom: 0;" enctype="multipart/form-data" >
	{% csrf_token %}
	<input type="hidden" name="final_amount" id="final_amt_id" value="">
	<input type="hidden" name="selected_days" id="selected_days_id" value="">
	<input type="hidden" name="user_id" id="user_id_id" value="{{user_details}}">
	<input type="hidden" name="deposite_amount" id="deposite_amount_id" value="">
<!-- 	{% if prod_detail_setting.top_msg %}
		<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url({% static 'images/site/grid_images/img-1.jpg' %});">
			<h2 class="l-text2 t-center">
				Women
			</h2>
			<p class="m-text13 t-center">
				{{ product_details_options.product_top_message }}
			</p>
		</section>
	{% endif %} -->
<!-- ------------- Rahul 31-07-19 ------------------->
	<section class="bgwhite p-t-55 p-b-65">  
		<div>
		<div>   
		<!-- <div class="container">
		<div class="row"> -->
<!-- ------------- Rahul 31-07-19 ----------------->

		<div class="col-sm-12 col-md-12 col-lg-12 p-b-50 p-r">
			<!-- <div class="flex-sb-m flex-w p-b-35"> -->
			<div>
				<div class="flex-w">
					<!-- <div class="size19 bo4 m-b-12"> -->
						<a href="{% url 'subcategory' parent_cats_id %}?page=1">{{parent_cats}}&nbsp;</a>/&nbsp;
						
						 <a href="{% url 'catprodlist' category_id %}?page=1">{{sub_cats}}&nbsp;</a>/ 
						 {{product_name}}
					<!-- </div> -->
					
				</div> 
				<hr style="width:100%;background:#ccc;">
			</div>
		</div>
	
		<!-- Product Detail -->
		<div class="container bgwhite p-t-35 p-b-80">
			<div class="flex-w flex-sb" >
				<div class="w-size13 p-t-30 respon5">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots y-scroll"></div>
	
						<div class="slick3">
							{% if product_details.product_thumb_image %}
								{% for image in product_details.product_thumb_image|getList %}
									<div class="item-slick3" data-thumb="{%static '/images/catalog/products/thumbnail/'%}{{image}}">
										<div class="wrap-pic-w">

										<figure class="zoom" onmousemove="zoom(event)" style="background-image: url( '/static/images/catalog/products/thumbnail/{{image}}')">
  											<img src="{% static '/images/catalog/products/thumbnail/' %}{{image}}" />
										</figure>
										<!-- <img class="drift-demo-trigger zoom" data-zoom="{% static '/images/catalog/products/thumbnail/' %}{{image}}" src="{% static '/images/catalog/products/thumbnail/' %}{{image}}" alt="IMG-PRODUCT"  style="width:99%;border:1px solid #ccc;"> -->
										 <div class="detail">
									        <section>         
									        </section>   
										</div>	
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
	
				<div class="w-size14 p-t-30 respon5">
					<div class="bo9 p-l-20 p-r-20 p-t-20 p-b-80">															
						{% if prod_detail_setting.prod_name %}
							<h4 class="product-detail-name m-text15 p-b-10">
								{{ product_details.name }}
							</h4>
						{% endif %}
						{% if prod_detail_setting.price %}
							<div class="m-b-15 m-t-15">
									<span class="fs-15" style="color: #555555;">MRP &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;  </span> 
								<strong>
								
									<span class="fs-15 m-b-15 m-t-15 m-l-15 " style="color: #555555;">{{ product_details.mrp }}</span>
								</strong>
							</div>
						{% endif %}
						
						<!-- {% if prod_detail_setting.s_review %}
							<div class="s-text8 fs-15 p-b-10"> 
								<span style="margin:5px;padding: 3px 9px; border-radius: 2px; min-width: 36px; position: relative; border: 1px solid #000;background-color: #4CAF50;color: #fff;">{{ avg_ratings }}
								</span>, {{ ratings }} Ratings & {{ reviews }} Reviews
							</div>
						{% endif %} -->
						
						{% if prod_detail_setting.s_review or prod_detail_setting.price or prod_detail_setting.offer %}
							<div class="fs-15 p-b-5">
							<!-- <strong>
								{% if prod_detail_setting.discount %}
									<span class="s-text3">
										MRP:- Rs. {{ product_details.final_product_price|floatformat:"0" }}&nbsp;<span style="color:#A4A4A4;">
											
										</span>
									</span>
								{% else %}
									{% if prod_detail_setting.price %}
										<span class="s-text3">Rs. {{ product_details.mrp  }}</span>
									{% endif %}	
								{% endif %}
								</strong> -->

								<!-- stock -->
								{% if prod_detail_setting.stock %}
									{% if product_details.quantity == 0 %}
										{% if request.session.site_isUserLogin %}
											<input type="submit" style="background: #F86C6B;border:0; color: #fff; padding:1%;" name="product_details" value="Notify Me" />
										{% else %}
											<input type="text" style="background-color: transparent; color: #000; outline: none; outline-style: none; border-top: none; border-left: none; border-right: none; border-bottom: solid #627492 1px; padding: 3px 10px;"
											 name="user_info" placeholder="Enter Email/Mobile to Notify" value="" />
											<input type="submit" style="background: #F86C6B;border:0; color: #fff; padding:1%;" name="product_details" value="Notify Me" />
										{% endif %}
									{% else %}
										<!-- <div class="m-b-15 m-t-15"> -->
										<span class="fs-15" style="color: #555555;">Stock &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;  </span>
										<strong> 
											<span class="fs-15 m-b-15 m-t-15 m-l-15 " style="color: #555555;">{{ product_details.quantity  }} in stock</span>
										</strong>
										<!-- </div> -->
									{% endif %}
								{% endif %}
								<!-- end stock -->

								<!-- color -->
								{% if prod_detail_setting.color %}
									<div class="m-b-15 m-t-15">
										
											<span class="fs-15" style="color: #555555;">Color &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;  </span> 
										<strong>
										
											<span class="fs-15 m-b-15 m-t-15 m-l-15 " style="color: #555555;">{{ product_details.color }}</span>
										</strong>
									</div>
								{% endif %}
								<!-- end color -->


								<!-- size -->
								{% if category.categories_id == 15 %}
									{% if prod_detail_setting.size %}
										<div class="m-b-15 m-t-15">
										
											<span class="fs-15" style="color: #555555;">Size &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;  </span> 
										<strong>
										
											<span class="fs-15 m-b-15 m-t-15 m-l-15 " style="color: #555555;">{{ product_details.size }}</span>
										</strong>
									</div>
									{% endif %}
								{% endif %}
								<!-- end size -->
									
							</div>
						{% endif %}
						
						<!-- {% if prod_detail_setting.offer %}
							<div class="fs-15 p-b-5">
								<div class="s-text3">
									Get {{ product_details.discount|floatformat:"0"  }}% Off <span style="color:green;"> &nbsp;&nbsp;Save Rs. {{ product_details.product_saving_price|floatformat:"0" }}</span>
								</div>
							</div>
						{% endif %} -->
						<!-- <div class="flex-c-m bo-rad-23 float-r m-text3 trans-0-4">
							<div class="flex-m flex-w">
								<div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
									<input class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 pointer" type="button"  value="Add To Cart"  id = "add_to_cart" name="add_to_cart" onclick="addToCart('{{ product_details.id }}','0');" style="background-color: #e6be6e;color: #444;"/>
								</div>
							</div>
						</div> -->
					<!-- </div>	 -->
						<br>
						{% if prod_detail_setting.is_rent %}
						<!-- <div class="bo9 p-l-20 p-r-20 p-t-20 p-b-80 m-t-20"> -->
						<!--------____RAHUL____19-08-19---------->
							{% if category.categories_id == 3 %}
							<div class="p-b-10 flex-w">
							<strong style="color: #444444;">Sizes &nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp;  </span></strong>
							
							<div style="text-align:center">
								<br>
							  <!-- <h1>Round Dots / Circles</h1> -->
							   <!-- vikrant6work -->
							   <table id="test"style="border:0px;">
							   	<tr style="border:0px;">
							   		<td style="padding: 5px; border:0px;">

							   			<select class="form-control" id="bust" style="height:auto; width:120px;border-radius: 8px;padding: 10px">
							   				<option selected disabled>Bust Size:</option>
							   				{%for k in busts%}
							   					
							   					<option name="bustsize"  value="{{k}}" onclick ="abcd();">{{k}}</option>
							   			

							   				{%endfor%}
							
								</select>
							   		</td>
							   			<td style="padding: 5px; border:0px;">
							   			<select class="form-control" style="height:auto; width:130px;border-radius: 8px;padding: 10px">
							   				<option  value="{{r}}">Waist Size:</option>
							   				{%for r in waists%}
							   					
							   					<option name="waistsize">{{r}}</option>
							   				
							   			

							   				{%endfor%}	
								 
								</select>
							   		</td>
							   			<td style="padding: 5px;border:0px;" >
							   			<select class="form-control" style="height:auto; width:120px;border-radius: 8px;padding: 10px">
								 			<option  value="{{t}}">Hip Size:</option>
							   				{%for t in hips%}						   					
							   					<option name="hipsize">{{t}}</option>	   				
							   				{%endfor%}	
								  
								</select>
							   		</td>
							   		</tr>

							   </table>
								
								

								
							<!--   <span class="dot"><br><div style="color: #444;">Bust</div><div style="color: #444;">{{bust_size}}</div></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
							 <!--  <span class="dot"><br><div style="color: #444;">Waist</div><div style="color: #444;">{{hips_size}}</div></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							  <span class="dot"><br><div style="color: #444;">Hip</div><div style="color: #444;">{{waist_size}}</div></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

							</div>

							</div>
							<br>
							{% endif %}
							<!--------____RAHUL____19-08-19---------->
							<div class="p-b-10 flex-w">
							<strong style="color: #444444;">Rental period &nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp;  </span></strong>
							<div class="p-b-10 flex-w">
								<form class = "formimages" enctype="multipart/form-data" method="POST" >
									{%csrf_token%}
									<div class="flex-w">
										<div class="fs-15 m-l-10 m-r-20 m-t-10 m-b-10">
											<input class="subject-list" type="radio" name="days_3" value="3" {% if number == 3 %}selected{% endif %} id="three_days_id"> 3 days
										</div>
										<div class="fs-15 m-l-10 m-r-20 m-t-10 m-b-10">
											<input class="subject-list" type="radio" name="days_4" value="4" {% if number == 4 %}selected{% endif %} id="four_days_id"> 4 days
										</div>
										<div class="fs-15 m-l-10 m-r-20 m-t-10 m-b-10">
											<input class="subject-list" type="radio" name="days_5" value="5" {% if number == 5 %}selected{% endif %} id="five_days_id"> 5 days
										</div>
										<div class="fs-15 m-l-10 m-r-20 m-t-10 m-b-10">
											<input class="subject-list" type="radio" name="days_6" value="6" {% if number == 6 %}selected{% endif %} id="six_days_id"> 6 days
										</div>
										<div class="fs-15 m-l-10 m-r-20 m-t-10 m-b-10">
											<input class="subject-list" type="radio" name="days_7" value="7" {% if number == 7 %}selected{% endif %} id="seven_days_id"> 7 days
										</div>
											<br>
										
										<!-- {% for data in rent_details.days|getList %}
											
											<div class="fs-15 m-l-10 m-r-10 m-t-10 m-b-10">
												<input type="radio" name="days" value="{{data}}" id="days_{{forloop.counter}}" onClick="calculateRent('{{rent_details.percent_value}}','{{forloop.counter}}','{{ product_details.mrp }}','{{ data }}','{{ product_details.mrp }}','1');" > {{ data }}<br>
											</div>
										{% endfor %} -->
									</div>
								</form>
							</div>	
						</div>
							<div class="flex-w p-b-20">
								<span class="fs-15">Select Date : </span>
								<div class="flex-w">
									<!-- <input type="text" data-range="true" data-multiple-dates-separator=" - " data-language="en" class="datepicker-here" /> -->
									<!-- <div class="bo1 m-l-10"><input type='text' class='datepicker-here' data-language='en' placeholder="From Date" style="padding:5px;width:150px;" name="from_selected_days" id="from_selected_days" onfocusout="myFunction()" value="{{ cart_details.form_date }}"/></div> -->
									<div class="bo1 m-l-10"><input type='text' data-language='en' placeholder="From Date" style="padding:5px;width:200px;" name="from_selected_days" id="from_selected_days" value="{{ cart_details.form_date }}"/></div>
									<!-- <div class="bo1 m-l-10"><input type='text' class='datepicker-here' data-language='en' placeholder="From Date" style="padding:5px;width:150px;" name="from_selected_days" id="from_selected_days" onclick="rentDate();" value="{{ cart_details.form_date }}"/></div>
									<div class="bo1 m-l-10"><input type='text'  placeholder="To date" style="padding:5px; width:150px;" name="to_selected_days" id="to_selected_days" readonly="readonly" value="{{ cart_details.to_date }}"/></div> -->
								</div>
							</div>
							
							<div class="flex-w p-b-20">
							
								<span class="fs-15"  style="color: #555555;"> Rent Price &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp; </span>
								<strong>
									<span class="fs-15 m-r-10"  style="color: #555555;" id="rentalValue" >Rs. 0 </span>
								</strong>
							</div>
							<div>
								
								<span class="fs-15"  style="color: #555555;"> Deposit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;</span>
								<strong>
									<span class="fs-15" id="finalVaueForRentel" style="color: #555555;"></span>
								</strong>
								<!-- <span class="s-text15" id="finalVaueForRentel" style="color: #000;">Rs. {{ product_details.mrp|floatformat:"0" }} </span> -->
							</div>
							<!-- <div class="m-t-20">
								<strong>
									<span class="s-text15"  style="color: #000;"> Total amount for Rental : </span>
									<span class="s-text15"  style="color: #000;" id="finalVaueForRentel"></span>
								</strong>	
							</div> -->	

		<!-- dont touch it -->
		<!-- add to cart code -->
							<div class="flex-c-m bo-rad-23 float-r m-text3 trans-0-4">
								<div class="flex-m flex-w">
									<div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10 pointer">
										<input class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 pointer" type="button"  value="Add To Cart"  id = "add_to_cart" name="add_to_cart" onclick="addToCart('{{ product_details.id }}','1');" style="background-color: #e6be6e;color: #444;"/>
									</div>
								</div>
							</div>
							<input type="hidden" name="h_days_index" id="id_days_index" value="" />
		<!-- end add to cart code -->
							
						{% endif %}
						
						<!-- {% if prod_detail_setting.stock %}
							{% if product_details.quantity == 0 %}
								{% if request.session.site_isUserLogin %}
									<input type="submit" style="background: #F86C6B;border:0; color: #fff; padding:1%;" name="product_details" value="Notify Me" />
								{% else %}
									<input type="text" style="background-color: transparent; color: #000; outline: none; outline-style: none; border-top: none; border-left: none; border-right: none; border-bottom: solid #627492 1px; padding: 3px 10px;"
									 name="user_info" placeholder="Enter Email/Mobile to Notify" value="" />
									<input type="submit" style="background: #F86C6B;border:0; color: #fff; padding:1%;" name="product_details" value="Notify Me" />
								{% endif %}
							{% else %}
								<div class="m-b-15 m-t-15">
								<strong><span class="s-text10" style="color: #878787;">Stock &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;  </span> </strong>
									<span class="s-text15 m-b-15 m-t-15 m-l-15 ">{{ product_details.quantity  }} in stock</span>
								</div>
							{% endif %}
						{% endif %} -->
						
						<!-- {% if prod_detail_setting.delivery_option %}
							<div>
								<strong><span class="s-text10" style="color: #929090;">Delivery&nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp; </span></strong>
								<span class="effect1">						
									<input class="s-text15 m-t-15 m-l-15 " type="text" name="pincode" placeholder="Enter Pin Code" value="{% if request.session.pincode != 0 %}{{ request.session.pincode }}{% endif %}">
									<span class="effect1-line"></span>
								</span>
								<span class="w-size2">
									<input type="submit" class="s-text18 wo-bg-btn" name="product_details" value="Check" />
								</span>
							</div>
							<div class="s-text15 p-b-10 m-l-100">
								Usually delivered in 9-10 days?<br>
								{% if request.session.pincode != 0 %}Delivery Charges ({{ distance|floatformat:"0" }} km) Rs. {{delivery_charge}} {% else %} Enter pincode for exact delivery dates/charges {% endif %}<br>
							</div>
						{% endif %} -->
						
						<!-- {% if prod_detail_setting.color %}
							<div class="m-b-15 m-t-15">
								<strong>
									<span class="s-text10" style="color: #878787;">Color &nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;  </span> 
								</strong>
								<span class="s-text15 m-b-15 m-t-15 m-l-15 ">{{ product_details.color }}</span>
							</div>
						{% endif %} -->
					
					<!-- {% if prod_detail_setting.size %}
						<div class="m-text12 p-b-5">
							<strong><span class="s-text15"  style="color: #929090;">Size &nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp;  </span></strong>
							{% for data in product_details.size|getList %}
									<span class="s-text15 size-filter"><strong>{{ data }}</strong></span>
							{% endfor %}
						</div>
					{% endif %}
					
					{% if prod_detail_setting.size_chart %}
						<div class="p-b-10">
						<strong><span class="s-text15"  style="color: #929090;">Size Chart &nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp;  </span></strong>
						<span class="s-text15">To view click <a href="">here</a>.</span>
						</div>
					{% endif %} -->
					
					
					
					<!-- Will use in future 
					{% if prod_detail_setting.seller %}
						<div class="p-b-5">
							<span class="m-text18" style="color: #929090;">Seller: </span>
							<span class="m-text18"></span>
						</div>
					{% endif %} -->
				</div>
				
						<div class="bo7 p-t-15 p-b-14 m-t-40">
						
							<h5 class="fs-16" style="color: #444444;"><strong>
							Description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp;  </strong>
							<!-- <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
							<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i> -->
							</h5>
						
							<hr/>
							<div class="dropdown-content p-t-15 p-b-23">
								<p class="s-text8">
									{{ product_details.description|safe|safe|linebreaks }}
								</p>
							</div>
						</div>

					</div>
				
					<!-- {% if prod_detail_setting.description %}
						<div class="wrap-dropdown-content bo7 p-t-15 p-b-14 m-t-40 active-dropdown-content">
							<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text18 color0-hov trans-0-4" style="color: #929090;">
								Description
								<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
								<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
							</h5>
		
							<div class="dropdown-content dis-none p-t-15 p-b-23">
								<p class="s-text8">
									{{ product_details.small_description|safe }}
								</p>
							</div>
						</div>
					{% endif %}
					
					{% if prod_detail_setting.highlights %}
						<div class="wrap-dropdown-content bo6 p-t-15 p-b-14">
							<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text18 color0-hov trans-0-4" style="color: #929090;">
								Highlights
								<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
								<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
							</h5>
			
							<div class="dropdown-content dis-none p-t-15 p-b-23">
								<p class="s-text8">
									{{ product_details.highlights }}
								</p>
							</div>
						</div>
					{% endif %}
					
					{% if prod_detail_setting.services %}
						<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
							<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text18 color0-hov trans-0-4" style="color: #929090;">
								Services
								<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
								<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
							</h5>
		
							<div class="dropdown-content dis-none p-t-15 p-b-23">
								<p class="s-text8">
									{{ product_details.services }}
								</p>
							</div>
						</div>
					{% endif %}
										
					{% if prod_detail_setting.specifications %}
						<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
							<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text18 color0-hov trans-0-4" style="color: #929090;">
								Specifications
								<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
								<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
							</h5>
		
							<div class="dropdown-content dis-none p-t-15 p-b-23">
								<p class="s-text8">
									{{ product_details.specifications }}
								</p>
							</div>
						</div>
					{% endif %}
					
					{% if prod_detail_setting.rating_reviews %}
						<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
							<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text18 color0-hov trans-0-4" style="color: #929090;">
								Ratings and Reviews
								<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
								<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
							</h5>
		
							<div class="dropdown-content dis-none p-t-15 p-b-23 m-l-20">
								<div class="s-text15 p-b-5">
									<strong><span class="s-text10" style="color: #929090;">Ratings&nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp; </span></strong>
				 					<span class="m-l-20">{{ ratings }} Ratings</span> ,  <span style="margin:5px;padding: 3px 9px; border-radius: 2px; min-width: 36px; position: relative; border: 1px solid #000;background-color: #4CAF50;color: #fff;">{{ avg_ratings }}</span>
								 	<br>
								 	
								 	<div class="s-text7 p-b-10 p-t-10 p-r-10 w-size16 m-l-110 m-t-10 dis-flex">
							 		 	<span class="s-text15 m-r-5">5</span> 						 		 	
							 		 		<div class="g-background">
							 		 			<div class="ratio-background"></div>
							 		 		</div>						 		 		
							 		 	<span class="s-text15 m-l-10">00</span>
						 		 	</div>						 		 	
									 <br>								 	
							 		<div class="rating float-l m-l-100">
							 		    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars">5 stars</label>
									    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars">4 stars</label>
									    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars">3 stars</label>
									    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars">2 stars</label>
									    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 stars">1 star</label>
									</div> <br>
									<div class="w-full t-left float-l m-l-100">
										<input class="s-text18 wo-bg-btn p-t-5 p-l-5" style="vertical-align: -webkit-baseline-middle;" type="button" value="Save Ratings" id = "ratings" name="ratings" onclick="addUserRetings('{{ product_details.id }}');"/>
			 						</div>
			 					</div>
			 					
			 					<div class="m-t-50">			 					
			 						<strong><span class="s-text10" style="color: #929090;">Reviews&nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp; </span></strong>
			 						<span class="s-text15 m-l-20">{{ reviews }} Reviews</span>
			 						<br/> 
			 						<textarea class="s-text7 bo4 p-b-10 p-t-10 p-r-10 p-l-10 w-size16 m-l-110 m-t-10" placeholder="Add Reviews" id = "user_reviews" name="add_user_reviews" ></textarea>
									<input class="s-text18 wo-bg-btn m-l-110" type="button" value="Save Review" id = "review" name="review" onclick="addUserReviews('{{ product_details.id }}');"/>				 					
			 					</div>
			 					
			 					<div class="m-t-50">
			 						<strong><span class="s-text10" style="color: #929090;">User Reviews&nbsp;&nbsp;&nbsp;  :   &nbsp;&nbsp;&nbsp;&nbsp; </span></strong>
			 						{% for reviewsOjb in reviews_list %}
										<div class="m-l-110">
										  	<strong><span class="s-text15"  style="color: #000;">{% if reviewsOjb.user %} {{ reviewsOjb.user.username }} {% else %} Guest {% endif %}</span></strong>
											<br><span class="s-text15 m-l-10" style="color: #929090;">{{ reviewsOjb.reviews }}</span>
										</div>
						 			{% endfor %}
			 					</div>

							</div>
						</div>
					{% endif %} -->
				</div>
			</div>
		</div>
		</div>
	</div>
  </div>
</section>	
	
</form>
{% endblock %}
{% block custom_scripts %}
	<!-- <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment-with-locales.min.js"></script> -->
	<script type="text/javascript" src="{% static 'js/site.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<!-- <script src='{% static "js/datepicker.js" %}'></script> -->
	<script src='{% static "js/Drift.js" %}'></script>
    <script type="text/javascript">
   $(document).ready(function() {

   		var $radios = $("#three_days_id");
	    if($radios.is(':checked') === false) {
	        $radios.filter('[value=3]').prop('checked', true);

	        var first_base_percent = 22;
			var second_base_percent = 17;
			var third_base_percent = 12; 
			var mrp = "{{ product_details.mrp }}";

			if (mrp <= 40000)
			{
				//amount = (mrp*(first_base_percent))/100;
				rent_amt = 1;
				//rent_amt = Math.ceil(amount/100)*100
				var finalData = "Rs. " + Number(rent_amt) + " For " + 3 + " days";
				rental_amt = $("#rentalValue").html(finalData);	

				deposite_amt = (mrp*35)/100;
				deposite = Math.ceil(deposite_amt/100)*100
				var finalDeposie = "Rs. " + Number(deposite);
				deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
				$("#final_amt_id").val(rent_amt);
				$("#deposite_amount_id").val(deposite);
			}
			if (mrp > 40000 & mrp <= 60000)
			{
				amount = (mrp*(second_base_percent))/100;
				rent_amt = Math.ceil(amount/100)*100
				var finalData = "Rs. " + Number(rent_amt) + " For " + 3 + " days";
				rental_amt = $("#rentalValue").html(finalData);

				deposite_amt = (mrp*35)/100;
				deposite = Math.ceil(deposite_amt/100)*100
				var finalDeposie = "Rs. " + Number(deposite);
				deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
				$("#final_amt_id").val(rent_amt);
				$("#deposite_amount_id").val(deposite);
			}
			if (mrp >= 60001)
			{
				amount = (mrp*(third_base_percent))/100;
				rent_amt = Math.ceil(amount/100)*100
				var finalData = "Rs. " + Number(rent_amt) + " For " + 3 + " days";
				rental_amt = $("#rentalValue").html(finalData);

				deposite_amt = (mrp*35)/100;
				deposite = Math.ceil(deposite_amt/100)*100
				var finalDeposie = "Rs. " + Number(deposite);
				deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
				$("#final_amt_id").val(rent_amt);
				$("#deposite_amount_id").val(deposite);
			}	

	    }
	  // var indexId = Number('{{ cart_details.days_index }}');
	  // if(indexId != ""){
	 	// 	document.getElementById("days_"+(indexId-1)).checked = true;
	 	// 	calculateRent('{{rent_details.percent_value}}','1','{{ product_details.mrp }}','{{ cart_details.days_index }} days','{{ product_details.mrp }}','0');
	  // } 
	  // else{
		 //  	document.getElementById("days_1").checked = true;
		 //  	calculateRent('{{rent_details.percent_value}}','1','{{ product_details.mrp }}','2 days','{{ product_details.mrp }}','0');
		 //  	// $("[data-location='days_1']").hide();
	  // }

    });

    $(document).ready(function() {
	    $( "#from_selected_days" ).datepicker({
	    		minDate: 8,
	    		onSelect: function() {	

	    		
	    		var $radio = $('input:radio[name^="days_"]:checked');
				var updateDay = $radio.val();
				var id = $radio.attr('id');

				days_data = document.getElementById(id).value; 
				day = parseInt(days_data.split(" ")[0]);
				var daycount = day - 1
	           
				var date2 = $('#from_selected_days').datepicker('getDate');
	            var date1 = $('#from_selected_days').datepicker('getDate');
	            var getdate = date1.toLocaleDateString();

				date2.setDate(date1.getDate()+daycount);
           		var setdate = date2.toLocaleDateString();
           		

				$('.subject-list').change(function(e){
    				var selectedValue = "Select Date";
    				$('#from_selected_days').val(selectedValue)
				});

	            
				if(updateDay != "")
				{
	            	date2.setDate(date1.getDate()+daycount);
					var setdate = date2.toLocaleDateString();
	            	//$( "#departureDate" ).datepicker("setDate", date2);
	              	document.getElementById("from_selected_days").value = getdate +'-'+setdate;
	            
	            }
	        }
	    });
	});

    function rentDate(){
   		$('#from_selected_days').datepicker({
		    onSelect: function(dateText) {
		    	// days cont
		      	var $radio = $('input[name=days]:checked');
				var updateDay = $radio.val();
				var id = $radio.attr('id');

				// disabled date
	
				// end disabld date

				days_data = document.getElementById(id).value; 
				day = parseInt(days_data.split(" ")[0]);
				var result = new Date(dateText);
				result.setDate(result.getDate() + day);
				
				yr      = result.getFullYear();
				month   = result.getMonth() < 10 ? '0' + (result.getMonth() + 1) : result.getMonth();
				day     = result.getDate()  < 10 ? '0' + result.getDate()  : result.getDate();

				dateFormatted = day + '/' + month + '/' + yr;
				var datearray = dateFormatted.split("/");
				var newdate = datearray[1] + '/' + datearray[0] + '/' + datearray[2];
				var y = document.getElementById("to_selected_days");
				y.value = newdate;
		    }
		});
   	}


	$('#add_to_cart').on('click',function(){

		swal('Added To Cart');
		//Scroll to top if cart icon is hidden on top
		 $('html, body').animate({
		 	'scrollTop' : $(".cart_anchor").position().top

		 });
		 $(".cart_anchor").effect( "shake", { direction: "left", times: 4, distance: 101}, 2000 );
		 	
		// //Select item image and pass to the function
		 // var itemImg = $(this).parent().find('img');
		 // flyToElement($(itemImg), $('.cart_anchor'));
		 


	});
	     
 //   	function myFunction() {
 //   		var $radio = $('input[name=days]:checked');
	// 	var updateDay = $radio.val();
	// 	var id = $radio.attr('id');

	// 	days_data = document.getElementById(id).value; 
	// 	day = parseInt(days_data.split(" ")[0]);
	// 	console.log(day);
				
 //   		// var daysCount = $("#id_days_index").val();
 //   		// console.log(daysCount);
 //   	    var from_date = document.getElementById("from_selected_days").value;
 //   	    console.log(from_date);
 //   	    var someDate = new Date();
	// 	var numberOfDaysToAdd = day;
	// 	console.log(someDate.setDate(someDate.getDate() + numberOfDaysToAdd)); 
	// 	var dd = someDate.getDate();
	// 	var mm = someDate.getMonth() + 1;
	// 	var y = someDate.getFullYear();

	// 	var someFormattedDate = mm + '/'+ dd + '/'+ y;
	// 	console.log(someFormattedDate);
	// 	var y = document.getElementById("to_selected_days");
	// 	y.value = someFormattedDate; 
	// }
   	
    // new Drift(document.querySelector('.drift-demo-trigger'), {
    //     paneContainer: document.querySelector('.detail'),
    //     inlinePane: 900,
    //     inlineOffsetY: -85,
    //     containInline: true,
    //     hoverBoundingBox: true
    //   });

    function zoom(e){
  		var zoomer = e.currentTarget;
  		e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
  		e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
  		x = offsetX/zoomer.offsetWidth*100
  		y = offsetY/zoomer.offsetHeight*100
  		zoomer.style.backgroundPosition = x + '% ' + y + '%';
	}

    // function newAddToCart()
    // {
    // 	var product_detail = {{ product_details.id }};
    // 	console.log(product_detail);

    // 	window.location.href = "/action_add_to_cart/"+response.prod_slug;

// new Code
$('.subject-list').on('change', function() {
    $('.subject-list').not(this).prop('checked', false);
    var selected_days = $(this).val();
    $("#selected_days_id").val(selected_days);

    var first_base_percent = 22;
	var second_base_percent = 17;
	var third_base_percent = 12; 
	var mrp = "{{ product_details.mrp }}";
	console.log(mrp);

	if (selected_days == 3)
	{
		if (mrp <= 40000)
		{
			amount = (mrp*(first_base_percent))/100;
			//rent_amt = 1;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp > 40000 & mrp <= 60000)
		{
			amount = (mrp*(second_base_percent))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp >= 60001)
		{
			amount = (mrp*(third_base_percent))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}	
	}
	else if (selected_days == 4)
	{
		if (mrp <= 40000)
		{
			amount = (mrp*(first_base_percent+5))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp > 40000 & mrp <= 60000)
		{
			amount = (mrp*(second_base_percent+5))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp >= 60001)
		{
			amount = (mrp*(third_base_percent+5))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}	
	}
	else if (selected_days == 5)
	{
		if (mrp <= 40000)
		{
			amount = (mrp*(first_base_percent+10))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp > 40000 & mrp <= 60000)
		{
			amount = (mrp*(second_base_percent+10))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp >= 60001)
		{
			amount = (mrp*(third_base_percent+10))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}	
	}
	else if (selected_days == 6)
	{
		if (mrp <= 40000)
		{
			amount = (mrp*(first_base_percent+15))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp > 40000 & mrp <= 60000)
		{
			amount = (mrp*(second_base_percent+15))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp >= 60001)
		{
			amount = (mrp*(third_base_percent+15))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}	
	}
	else if (selected_days == 7)
	{
		if (mrp <= 40000)
		{
			amount = (mrp*(first_base_percent+20))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp > 40000 & mrp <= 60000)
		{
			amount = (mrp*(second_base_percent+20))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}
		if (mrp >= 60001)
		{
			amount = (mrp*(third_base_percent+20))/100;
			rent_amt = Math.ceil(amount/100)*100
			var finalData = "Rs. " + Number(rent_amt) + " For " + selected_days + " days";
			rental_amt = $("#rentalValue").html(finalData);

			deposite_amt = (mrp*35)/100;
			deposite = Math.ceil(deposite_amt/100)*100
			var finalDeposie = "Rs. " + Number(deposite);
			deposite_amt = $("#finalVaueForRentel").html(finalDeposie);
			$("#final_amt_id").val(rent_amt);
			$("#deposite_amount_id").val(deposite);
		}	
	}
});
    
   </script>
{% endblock %}