{% extends "basesite.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/site.css' %}">
	<div class="container">
		<div>
			<br><br>
						<h3 class="m-text26 p-t-15 p-b-16" style="text-align: center;">
					Shipping, Returns, Cancellation and Refunds Policy
					<br>
					<br>
			</h3>
			<div>Listed below is the policy for Shipping, Returns, Cancellations and Refunds. Sri Shringarr Fashion Studio ("Sri Shringarr") reserves the right to make changes to this policy from time to time.

			</div><br><br>
			<strong>Shipping & Receipt of Shipment:</strong><br><br>
			<div>Sri Shringarr is committed to give you an excellent end to the end shopping experience, even after you have finished shopping. We make sure your object of desire reaches you in perfect condition. Our packaging and logistics partners share this commitment with us.
			</div><br>
			<div>All shipments will take a minimum of 4 working days to be delivered.
			</div><br>
			<div>When you receive the package, please make sure there is no external damage to the package. In case you receive the package damaged, do not accept delivery of the package. Please inform Sri Shringarr immediately.
			</div><br>
			<div>Please retain the original packaging and invoices, in case you need to return the package..
			</div><br>
			<div>Sri Shringarr holds its Customers in the highest regard. We will try to give you the experience to cherish and share. In the unlikely case that you feel that you would not like to go ahead with an order, we respect your decision. You can cancel the order as per the below conditions:
			</div><br>
			<div>1. You can cancel an order within 24 hours of placing the order by emailing us on info@srishringarr.com or calling 9324243011. Please quote the order number when you are placing the cancellation request.
			</div><br><br>
			<strong>Refund on Cancellation :</strong><br><br>
			<div>1. Refunds will be done within 3 working days after the cancellation request.
			</div><br>
			<div>2. Refund mode - Refund will be made in the same mode as the payment
			</div><br><br>
			<strong>Returns Procedure :</strong><br><br>
			<div>1. Replacement will be provided in case of Wrong products or Damaged Products being delivered. Shipping Cost for Replacement product will be paid by Sri Shringarr.
			</div><br>
			<div>2. Wrong Product: Correct product, as per the original order will be shipped after Sri Shringarr has received the returned product.
			</div><br><br>
			<strong>Replacement Procedure :</strong><br>
			<br>
			<div>1. Check the product specification sent with the package.
			</div><br>
			<div>2. Open the package in front of the courier bearer.
			</div><br>
			<div>3. Identify if the product is damaged or wrong product.
			</div><br>
			<div>4. Send a picture of the product on 9324243011 and mail the image to <a href="info@srishringarr.com">info@srishringarr.com</a>
			</div><br>
			<div>5. Call us on 9324243011 immediately and register the return.
			</div><br>
			<div>6. Wrong Product: Call us on 9324243011 immediately 
			</div><br>
			<div>7. Damaged Product : Call us on 9324243011 immediately 
			</div><br>
			<br>
		</div>
	</div>  
{% endblock %}	

