{% extends "basesite.html" %}
{% load staticfiles %} 
{% load site_filters %}
{% block content %} 
	<link rel="stylesheet" href="{% static 'css/site.css' %}">
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-8 col-lg-12 p-b-50">
					{% if product_list %}
						<div class="flex-sb-m flex-w p-b-35">
							<div class="flex-w">
							</div>
	
							<span class="s-text8 p-t-5 p-b-5">
								<form method="post" enctype="multipart/form-data">
									{%csrf_token%}
									<input class="flex-c-m size17 bg4 bo-rad-23 hov1 s-text21 trans-0-4" type="submit" value="Clear Wishlist" name="clear_wishlist"/>
								</form>
							</span>
						</div>
						<!-- Product -->
						<div class="row">
							{% for product in product_list %}
								<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative">
											<img src="{% static 'images/catalog/products/main/' %}{{ product.product_image }}" alt="IMG-PRODUCT">
											<div class="block2-overlay trans-0-4">
												<button type="button" class="block2-btn-towishlist hov-pointer trans-0-4" onclick="addToWishlist('{{ product.id }}')">
													<i class="fa fa-times"></i>
												</button>
												<div class="block2-btn-details w-size1 trans-0-4">
													<a href="{% url 'productdetail' product.slug %}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Details
													</a>
												</div>
												<div class="block2-btn-addcart w-size1 trans-0-4">
													<form style="margin-bottom:0;" enctype="multipart/form-data">
														{%csrf_token%}
														<input class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="button"  value="Add To Cart"  id = "add_to_cart" name="add_to_cart" onclick="addToCart('{{ product.id }}');"/>
													</form>	
												</div>
											</div> 				
										</div>
		
										<div class="block2-txt p-t-20">
											<a href="{% url 'productdetail' product.slug %}" class="block2-name dis-block s-text3 p-b-5">
												{{ product.name }}
											</a>
											<span class="block2-price m-text6 p-r-5">
												Rs. {{ product.mrp|floatformat:"0" }}
											</span>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<p>No Products.</p>
						{% endif %}
					</div>					
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block custom_scripts %}
	<script src='{% static "js/site.js" %}'></script>
{% endblock %}