@charset "utf-8";
/* CSS Document */

body {
		
		font-family: Helvetica;
		font-size: 15px;
		
	}
	
	h1 {
		margin: 0px;
		padding: 0px;
		color:#00FF00;	
	}
	h2 { text-align:center;color:#FFF; background-color:#090; width:913px;}
	
	h3 {color:#FFF; background-color:#999; width:403px;}
    p{font-size:16px; text-align:center; background-color:#1F6949; color:#FFF; margin-top:0px;}
	

	.suggestionsBox {
		position: relative;
		left: 50px;
		margin: -10px 0px 0px 0px;
		width: 200px;
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color: #fff;
		z-index:10
	}
	
	.suggestionList {
		margin: 0px;
		
		padding: 0px;
	}
	
	.suggestionList li {
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
	
	.suggestionList li:hover {
		background-color: #659CD8;
	}
	
.M_page input[type=text]{
   border: 1px solid #e0e0e0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  display: block;
  margin: 5px 0 10px;
  padding: 10px;
  width: 150px;
	}



.M_page input[type=radio]{
  
     width:20px; 
	}
	
#rem {
	
	border: 3px solid #e0e0e0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  display: block;
  margin: 5px 0 10px;
  padding: 10px;
  width: 500px;
	
}

#year #month #day select{
	
   border: 3px solid #e0e0e0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  display: block;
  margin: 5px 0 10px;
  padding: 10px;
  width: 100px;
	
}
	
	
	.M_page button[type=submit]{
	  	width: auto;
		height:30px;
		padding:4px;
	}
	
	.M_page button[type=button]{
	  	width: auto;
		height:30px;
		padding:4px;
	}
	
  .M_page textarea{
   border: 1px solid #e0e0e0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0, rgba(0, 0, 0, 0.05) 0 2px 1px inset;
  display: block;
  margin: 0 0 20px;
  padding: 10px;
  width: 200px;
  height: 50px;
  resize:none;
}

.M_page select {width:120px; height:25px; }/*text-transform:uppercase;*/
.results {text-transform:uppercase;}
.results thead th {color:#CCC; font-size:12px; font-weight:bold; text-align:left; width:140px; overflow: hidden;text-overflow: ellipsis; background-color:#033;}
.results tbody td {color:#333; font-size:11px; font-weight:bold; text-align:left; width:140px; overflow: hidden;text-overflow: ellipsis; background-color:#CCC;}

.results tbody tr:hover td {background-color:#0F9;}


.results th {font-size:13px; color:#CCC; font-weight:bold; text-align:left; background-color:#033;}

.results td {font-size:12px; color:#333; font-weight:bold; text-align:right; background-color:#FFC;}

.results td input{font-size:11px;}

a{ color:#009; text-decoration:none  }

a:hover{color:#F00; text-decoration:underline;}


.M_page label{color:#333; font-weight:bold; font-size:14px; text-align:left;}




.se{background-color:#95CEA4;margin-left:auto; margin-right:auto; }

#site_title h1 a {color:#09F; text-decoration:none;}
#site_title h1{text-align:center;}
#site_title.tagline{color:#0FC;}

#site_title_bar{margin-left:auto; margin-right:auto;}

#site_title_bar h2 {margin-left:auto; margin-right:auto;}


#pageNavPosition {margin-left:220px;}


fieldset{padding:10px;}


/*----------------------------------------------------------------------------------

----------------------------------------------------------------------------------*/

.link { 
	background: -moz-linear-gradient(center top, #ac0404, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#ac0404), to(#dddddd));
	background:  -o-linear-gradient(top, #ac0404, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ac0404', EndColorStr='#dddddd');
	border-color:#ac0404; 
	border-width:1px;
    border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:auto;
	height:auto;
}
/*-------------------------------------------------------*/
#child td{border:0;}
#mask {
	display: none;

	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

/* You can customize to your needs  */
.login-popup{
	display:none;
	background: #00a4ae;
	padding: 10px; 	
	border: 2px solid #ac0404;
	float: left;
	font-size: 1.1em;
	position: fixed;
	top: 50%; left: 40%; color:#FFF;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999; /* CSS3 */
        -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
        -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
        -moz-border-radius: 3px; /* Firefox */
        -webkit-border-radius: 3px; /* Safari, Chrome */ 
}

img.btn_close { /*Position the close button*/
	float: right; 
	margin: -28px -28px 0 0;
}



form.signin .textbox label { 
	display:; 
	/*padding-bottom:7px;*/ 
	width:auto;
}

form.signin .textbox span { 
	display:block;
}

form.signin p, form.signin span { 
	color:#000; 
	font-size:13px; 
	line-height:18px;
} 

form.signin input,textarea{ 
	background:#fff; 
	border-bottom:1px solid #ac0404;
	border-left:1px solid #ac0404;
	border-right:1px solid #ac0404;
	border-top:1px solid #ac0404;
	color:#000; 
        border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
	font:12px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:220px; text-transform:uppercase;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.formbutton { 
	background: -moz-linear-gradient(center top, #ac0404, #dddddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#ac0404), to(#dddddd));
	background:  -o-linear-gradient(top, #ac0404, #dddddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ac0404', EndColorStr='#dddddd');
	border-color:#ac0404; 
	border-width:1px;
        border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	padding:6px 6px 4px;
	margin-top:10px;
	font:12px; 
	width:100px;
}

form.signin td{ font-size:12px; height:40px;}
td,th{padding-left:3px; padding-right:13px;}

/*------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


.sidebarmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
font: bold 14px Verdana;
width: 180px; /* Main Menu Item widths */
border-bottom: 1px solid #ccc;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-khtml-border-radius:10px;
}
 
.sidebarmenu ul li{
position: relative;
}


/* Top level menu links style */
.sidebarmenu ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: white;
text-decoration: none;
padding: 6px;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-khtml-border-radius:10px;
}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
background-color: #01a3ae; /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited{
color: white;
}

.sidebarmenu ul li a:hover{
background-color: #ac0404;
}

/*Sub level menu items */
.sidebarmenu ul li ul{
position: absolute;
width: 200px; /*Sub Menu Items width */
top: 0;
visibility: hidden;
}

.sidebarmenu a.subfolderstyle{
background: url(images/right.gif) no-repeat 97% 50%;
}

 
/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */
.pg-normal {
                color: black;
                font-weight: normal;
                text-decoration: none;    
                cursor: pointer;    
            }
            .pg-selected {
                color:#00F;
                font-weight: bold;        
                text-decoration: underline;
                cursor: pointer;
            }


