{% extends "base.html" %} {% block content %}
<div class="container">

	<div style="display: flex;">
		<div class="card">
			<div>
				<div class="cardheader">Products</div>

				<div class="cardContent">000</div>

				<button class="cardFooter">
					Add Product<span class="arrowDesign arrowRight"></span>
				</button>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="cardheader">Published Products</div>

				<div class="cardContent">000</div>

				<button class="cardFooter">
					UnPublish Product<span class="arrowDesign arrowRight"></span>
				</button>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="cardheader">UnPublished Products</div>

				<div class="cardContent">000</div>

				<button class="cardFooter">
					Publish Product<span class="arrowDesign arrowRight"></span>
				</button>
			</div>
		</div>
		<div class="card">
			<div>
				<div class="cardheader">Deleted Products</div>

				<div class="cardContent">000</div>

				<button class="cardFooter">
					Restore Product<span class="arrowDesign arrowRight"></span>
				</button>
			</div>
		</div>
		<!-- 		<div class="card">
		<div>
			<div class="cardheader">
				 Products 
			</div>
	
			<div class="cardContent" >
			
			</div>
	
			<button class="cardFooter" >+ Add Product</button>
		</div>
	</div> -->
	</div>
</div>
{% endblock %}

