@charset "utf-8";
/* CSS Document */

body { background-color:#9CF;}
#main {width:870px; margin:auto;}

#abc { border:#FFF solid; margin:auto; width:870px;}
#abc a{ color:#FFF; font-size:22px; }
#abc a:hover { text-decoration:none; background-color:#FFF}
#pmb {  width:220; background-color:#36F;}
#pmb tr td p{ background-color:#009; height:25px; border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;text-align:center; padding:5px 0; color:#FFF;}
#pmb tr td li { list-style:none; display:block; margin-bottom:10px;}
#pmb tr td li a {text-decoration:none;}
#pmb tr td li a:hover { color:#FFF;}